{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>提示：{{ puzzle.name }}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">返回题目页</a>
{% endblock %}

{% block content %}
<style>
.hint-error { margin-bottom: 4rem; }
.hint-hidden { display: none; }
.hint-table td {
    white-space: nowrap;
    vertical-align: top;
    padding: 0 0 3rem;
}
.hint-table td:last-child {
    width: 0;
}
.hint-table b {
    margin-right: 1ch;
}
.hint-table pre {
    margin: 0 5rem 2rem 0;
    white-space: pre-wrap;
    display: inline-block;
    vertical-align: text-top;
}
.hint-info {
    opacity: 0.5;
    white-space: initial;
}
</style>

<h1>提示：{{ puzzle.name }}</h1>

<main>
    {% if not hunt_is_over %}
    <ul>
    {% if team.num_nonintro_hints_remaining > 0 %}
        <li>你当前拥有 <b>{{ team.num_nonintro_hints_remaining }} 个提示点</b>
            {% include 'icon-hint.svg' %}
            可以请求任何谜题的提示。
    {% endif %}

    {% if one_hint_at_a_time %}
        <li>你在任何时候只能有 <b>最多一个提示请求</b> 处于未回答状态。你必须等到该提示被回答后才能请求另一个。
    {% endif %}
        {% url 'about' as about %}
        <li>请查看<a href="{{ about }}#Hints">活动介绍</a>页面以了解更多。
    </ul>
    {% endif %}
    

    <h4>提示</h4>
    {% if error %}
    <p class="hint-error">{{ error }}</p>
    {% endif %}

    {% if not error or can_followup %}
    {% if puzzle_answer is not None %}
    <div class="note">
        你已经解决了这个谜题，但如果你愿意，仍然可以请求提示（例如，如果你对某个步骤不确定或是通过反解得出的结果）。上述限制仍然适用。
    </div>
    {% endif %}
    <form method="post"{% if error %} class="hint-hidden"{% endif %}>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        {% endfor %}

        {% if can_followup %}
        <input type="hidden" name="is_followup" value="">
        <div class="note hint-hidden">
            你在发起追问，但追问范围仅限于我们给出的回复可能引起误解的情况。这不会消耗你的提示点；如果需要提出新的问题，请使用新的提示点。
        </div>
        <script>
        function markFollowup() {
            $('.hint-hidden').removeClass('hint-hidden');
            $('.hint-error').addClass('hint-hidden');
            $('[name=is_followup]').val(true);
            $('[name=hint_question]').focus();
            $('h4')[0].scrollIntoView();
            $('#hint-cost').text(0);
        }
        $(function() {
            $('.hint-response').each(function(i, pre) {
                pre.innerHTML = pre.innerHTML.replace(
                    /(ask|ask for|request) (a|another) follow-?up( hint)?/ig,
                    '<button class="btn" onclick="markFollowup()">$&</button>');
            });
        });
        </script>
        {% endif %}

        <br>
        <button class="btn" type="submit">
            提交 (&minus;<span id="hint-cost">1</span> {% spaceless %}{% include 'icon-hint.svg' %}{% endspaceless %})
        </button>
    </form>
    {% endif %}

    {% if hints %}
    <h4>提示请求历史</h4>
    {% if can_followup %}
    <button class="btn" onclick="markFollowup()">我要追问！</button>
    {% endif %}
    <table class="hint-table">
        {% for hint in hints %}
        <tr class="submitted-text">
            <td>
                <b>提问：</b><pre>{{ hint.hint_question }}</pre><br>
                {% if hint.status == 'NR' %}
                <b>回复：</b><pre class="hint-info">尚未回复。</pre>
                {% elif hint.response %}
                <b>回复：</b><pre class="hint-response">{{ hint.response }}</pre>
                {% endif %}
            </td>
            <td>
                <p>
                    {% format_time hint.submitted_datetime "DATE_AT_TIME" as submitted_time %}
                    请求于 {{ submitted_time }}
                    {% if hint.answered_datetime and hint.status != 'OBS' %}
                    {% format_time hint.answered_datetime "DATE_AT_TIME" as answered_time %}
                    <br>回复于 {{ answered_time }}
                    {% endif %}
                </p>
                <p class="hint-info">
                    {% if hint.status == 'OBS' %}
                    看起你在我们回复之前，已经解决了这个谜题！你使用的提示点已被退还。
                    {% elif hint.is_followup %}
                    这是一条追问。
                    {% elif hint.status == 'REF' %}
                    你使用的提示点已被退还。
                    {% endif %}
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</main>
{% endblock %}
