{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}
{% load static %}

{% block page-title %}
<title>Hint: {{ hint.puzzle }} from {{ hint.team }}</title>
{% endblock %}

{% block content %}

<h1>回复提示</h1>

<div class="hint-controls">
    <a class="btn" href="javascript:askName(true)">
        你正在以<b id="claimer"> 匿名staff </b>的身份浏览提示请求列表。
    </a>
    <script src="{% static "js/hint.js" %}"></script>
    <span>
        <a href="{% url 'impersonate-start' hint.team.user_id %}" class="btn danger">顶号</a>
        <a href="/admin/puzzles/hint/{{ hint.id }}/change/" class="btn">在管理面板中查看（慎用，可编辑）</a>
    </span>
</div>

<table class="hint-table">
    {% if hint.is_followup %}
    <div class="note">
        你正在回复的是一条追问。<br>
        以下灰黄色区域显示的是这支队伍此前的提问，以及你或其他staff的回复历史。<br>
        我们已经对提示恰当用法达成了共识：<b>每个提示点均有可追问的机会，但追问范围仅限于该提示点所提问题回复中可能引起误解的情况。如果需要提出新的问题，请使用新的提示点。我们保留对所有追问范围的解释权。</b><br>
        提示回复方法在<a href="https://docs.qq.com/aio/DTk9heERpZUJpd2pS?p=hdry5CKOQN5NfTuzmaMtns">大文档</a>中也有记录。<br>
        若有疑虑，可详询 乌桕Sapium 。
    </div>
    {% endif %}
    {% for hint in previous_same_team %}
    <tbody style="background-color: #{{ hint.hint_question|hash|slice:':6' }}20">
        <tr>
            <td>
                {% if hint.is_followup %}<em>(追问){% endif %}
                {% format_time hint.submitted_datetime 'DATE_AT_TIME' %}
                {% if hint.is_followup %}</em>{% endif %}
            </td>
            <td colspan="3">
                {% if hint.answered_datetime %}
                {% format_time_since hint.answered_datetime now as answered_since %}
                已于 {{ answered_since }} 前，由{{ hint.claimer }} 转为 {{ hint.get_status_display }} 状态。
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <pre class="submitted-text">{{ hint.hint_question }}</pre>
                <hr>
                <pre class="submitted-text">{{ hint.response }}</pre>
            </td>
        </tr>
    </tbody>
    {% endfor %}
    <tbody style="background-color: #{{ hint.hint_question|hash|slice:':6' }}20">
        <tr>
            <th>
                {% if hint.is_followup %}<em>(追问){% endif %}
                {% format_time hint.submitted_datetime 'DATE_AT_TIME' %}
                {% if hint.is_followup %}</em>{% endif %}
            </th>
            <th>
                <a href="{% url 'team' hint.team.team_name %}">
                    {{ hint.team }}
                </a>
            </th>
            <th>
                <a href="{% url 'solution' hint.puzzle.slug %}">
                    {{ hint.puzzle }}
                </a>
            </th>
            <th>
                <a href="/admin/puzzles/answersubmission/?team__id__exact={{ hint.team_id }}&puzzle__id__exact={{ hint.puzzle_id }}">
                    (此队伍在此题的全部回答)
                </a>
            </th>
        </tr>
        <tr>
            <td>
                {% if hint.answered_datetime %}
                {% format_time_since hint.answered_datetime now as answered_since %}
                已于 {{ answered_since }} 前，由{{ hint.claimer }} 转为 {{ hint.get_status_display }} 状态。
                {% elif hint.claimed_datetime %}
                <span style="color: red">
                {% format_time_since hint.claimed_datetime now as claimed_since %}
                已于 {{ claimed_since }} 前，由 {{ hint.claimer }} 申领。
                </span>
                {% elif hint.claimer %}
                <span style="color: red">
                不知何时 (!?) 已由 {{ claimer }} 申领。
                </span>
                {% else %}
                <a href="{% url 'hint' hint.id %}?claim=true" class="btn">点击申领此条提示请求。</a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'hint-list' %}?team={{ hint.team_id }}">
                    (此队伍的全部提示请求)
                </a>
            </td>
            <td>
                <a href="{% url 'hint-list' %}?puzzle={{ hint.puzzle_id }}">
                    (此谜题的全部提示请求)
                </a>
            </td>
            <td>
                <a href="{% url 'hint-list' %}?team={{ hint.team_id }}&puzzle={{ hint.puzzle_id }}">
                    (此队伍在此题的全部提示请求)
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <pre class="submitted-text">{{ hint.hint_question }}</pre>
            </td>
        </tr>
    </tbody>
</table>

{{ form.non_field_errors }}
<form method="post" class="hint-controls">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }}
    {{ field }}
    {{ field.errors }}
    {% endfor %}
    <input type="hidden" name="initial_status" value="{{ hint.status }}">
    <br>
    {% if hint.status == 'NR' %}
    <button class="btn danger" name="action" type="submit" value="unclaim" formnovalidate>取消申领</button>
    {% else %}
    <a class="btn" href="{% url 'hint-list' %}">回到列表</a>
    {% endif %}
    <button class="btn" name="action" type="submit">提交</button>
</form>

<table class="hint-table">
    {% for hint in previous_all_teams %}
    <tbody style="background-color: #{{ hint.hint_question|hash|slice:':6' }}20">
        <tr>
            <td>
                <a href="{% url 'hint' hint.id %}">
                    {% if hint.answered_datetime %}
                    {% format_time_since hint.answered_datetime now as answered_since %}
                        已于 {{ answered_since }} 前，由{{ hint.claimer }} 转为 {{ hint.get_status_display }} 状态。
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{% url 'hint-list' %}?team={{ hint.team_id }}">
                    {{ hint.team }}
                </a>
            </td>
            <td>
                <a href="javascript:copyHint('h{{ hint.id }}')">
                    复制当时的staff回复
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <pre class="submitted-text" id="h{{ hint.id }}">{{ hint.response }}</pre>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}
