{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}
{% load static %}

{% block content %}
<style>
@media print {
    a {
        text-decoration: none;
        color: inherit;
    }

    .feedback, .register {
        display: none;
    }

    .print-register {
        text-align: center;
        margin: 20px 0 40px;
    }
}

@media screen {
    .print-register {
        display: none;
    }

    .feedback, .register {
        text-align: center;
        margin-bottom: 40px;
    }

    .register .btn {
        height: 48px;
        line-height: 48px;
        font-size: 3rem;
    }
}

.footnote {
    font-size: 80%;
    line-height: 1.5;
}
</style>

<h1>{{ hunt_title }}</h1>

<div align="center">
    <img src="{% static 'images/poster.webp' %}" style="height: 100vh; object-fit: cover;margin-bottom: 40px;">
</div>

{% if not hunt_is_closed and not request.user.is_authenticated %}
<div class="register">
    <a href="{% url 'register' %}" class="btn">点击注册</a>
</div>
{% endif %}
{% endblock %}
