{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h2>登陆</h2>

<form id="login" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-section">
        {% for field in form %}
        <div class="form-row">
            <div class="form-desc">
                {% if 'Username:' in field.label_tag %}
                    <strong>队伍用户名：</strong>
                {% elif 'Password:' in field.label_tag %}
                    <strong>队伍密码：</strong>
                {% else %}
                    {{field.label_tag}}
                {% endif %}
            </div>
            {{ field }}
            {{ field.errors }}
            <div class="form-desc">
                {% if not hunt_is_closed %}
                    {% url 'register' as register_url %}
                    {% url 'password_reset' as password_url %}
                    {% if field.name == 'username' %}
                        还没有队伍？<a href="{{ register_url }}" tabindex="1">在此注册</a>。
                    {% else %}
                        忘记密码？<a href="{{ password_url }}" tabindex="1">在此找回</a>。
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="form-section">
        <button class="btn" type="submit">登陆</button>
    </div>
</form>

{% endblock %}
