{% extends "base.html" %}
{% load i18n %}
{% block content %}

<style>
.row {
    margin-bottom: 1em;
}
</style>

<h2>注册</h2>

{% if team %}
<h4>你已经以{{team_name}}的身份登录了。</h4>
{% endif %}

<form id="register" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="form-section">
    {% for field in form %}
        <div class="form-row">
            <div class="form-desc">
                {{ field.label_tag }}
            </div>
            {{ field }}
            {{ field.errors }}
            <div class="form-desc">
                {{ field.help_text|safe }}
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="form-section">
    <h4>队伍成员</h4>

    <p>你也可以稍后修改成员信息，但现在需要提供至少一名成员的邮箱。</p>

    {{ team_members_formset.management_form }}
    {{ team_members_formset.non_form_errors }}
    {% for team_member_form in team_members_formset %}
        <div class="team-members-formset form-row">
            {% for field in team_member_form %}
            <div class="form-desc">
                {{ field.label_tag }}
            </div>
            {{ field }}
            {{ field.errors }}
            {% endfor %}
        </div>
    {% endfor %}
    </div>

    <div class="form-section">
    {% if recaptcha_sitekey %}
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
        function recaptchaSubmit() {
            var form = document.getElementById('register');
            if (form.reportValidity())
                form.submit();
            else
                grecaptcha.reset();
        }
        </script>
        <button class="btn g-recaptcha"
                data-sitekey="{{ recaptcha_sitekey }}"
                data-callback="recaptchaSubmit"
                data-action="register">注册</button>
    {% else %}
        <button class="btn" type="submit">注册</button>
    {% endif %}
    </div>
</form>

<script>
$('.team-members-formset').formset({
    prefix: '{{ team_members_formset.prefix }}',
    addText: '添加一名成员',
    deleteText: '\u2716',
    addCssClass: 'formset-add-link',
});
$('.formset-add-link').click(function() {
    $('.errorlist').remove();
});
</script>

{% endblock %}
