{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>解答: {{ puzzle.name }}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">返回题目页</a>
{% endblock %}

{% block content %}

<style>
h2 {
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 2rem;
}

h4 {
    font-size: 2rem;
    font-weight: normal;
    margin: 2rem 0;
}
</style>

<h1>
    解答: {{ puzzle.name }}
    {% if puzzle.answer %}<div class="solved-title-marker">答案: <span class="solved-title-answer spoiler">{{ puzzle.answer }}</span></div>{% endif %}
</h1>

<main class="puzzle-main">
    <h2 style="margin-top: 0">
        作者:
        {% block puzzle-author %}
        佚名
        {% endblock %}
    </h2>

    {% puzzleblock solution-body %}
    {% if solution_body %}
        {{ solution_body }}
    {% else %}
        解答尚未写完……请静候佳音。
    {% endif %}

    {% puzzleblock author-notes %}
    {% if author_notes %}
    <h2 id="authors-notes">作者的话: </h2>
    {{ author_notes }}
    {% endif %}

    {% puzzleblock appendix %}
    {% if appendix %}
    <h2 id="appendix">{% block appendix-title %}附录: {% endblock %}</h2>
    {{ appendix }}
    {% endif %}
</main>

{% endblock %}
