{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>回答：{{ puzzle.name }}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">返回题目页</a>
{% endblock %}

{% block content %}

<h1>
    {{ puzzle.name }} - 回答
    {% if puzzle_answer %}
        <div class="solved-title-marker">
            正确答案：<span class="solved-title-answer">{{ puzzle_answer }}</span>
        </div>
    {% endif %}
</h1>

{% if puzzle_answer and puzzle.hidden_info %}    
    <div class="notice_info">
        你收到了一条导师评语：{{ puzzle.hidden_info }}
    </div>
{% endif %}

{% if puzzle_answer and puzzle.is_meta %}    
    <div class="notice_info">
        你推动了<a href="/story">剧情</a>发展……
    </div>
{% endif %}

<main>
{% if puzzle_answer != None %}
    {% if survey %}
    <h4>反馈</h4>
    <div class="note">你可以随时返回本页面以修改你的反馈意见。</div>

    <form method="post" id="survey_form">
        {% csrf_token %}
        <input name="id" value="" type="hidden">
        {{ survey.non_field_errors }}

        <div class="info-row">
        {% for field in survey %}
            {% if 'adjective' in field.field.widget.attrs %}
            <div class="rating">
                {% blocktranslate with max_value=field.field.max_value adjective=field.field.widget.attrs.adjective %}On a scale from 1 to {{ max_value }}, how {{ adjective }} was this puzzle?{% endblocktranslate %}
                <p>
                {% spaceless %}
                {% for option in field %}
                    {{ option.tag }}
                    <label for="{{ option.id_for_label }}">★</label>
                {% endfor %}
                {% endspaceless %}
                </p>
                {{ field.errors }}
            </div>
            {% endif %}
        {% endfor %}
        </div>

        {% for field in survey %}
        {% if 'adjective' not in field.field.widget.attrs %}
        {{ field }}
        {{ field.errors }}
        {% endif %}
        {% endfor %}

        <button class="btn" type="submit">提交</button>
        {% if past_surveys %}
        <a class="btn danger" style="float: right" href="javascript:clearSurvey()">{% translate "Reset" %}</a>
        {% endif %}

        <style>
        .rating.rating {
            text-align: center;
            border: none;
        }

        .rating p {
            white-space: nowrap;
            pointer-events: none;
            user-select: none;
            margin: 0;
        }

        .rating input {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }

        .rating label {
            display: inline;
            padding: 0 2px;
            cursor: pointer;
            pointer-events: initial;
            font-size: 2rem;
            text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
            color: gold;
        }

        .rating :invalid ~ label, .rating :checked ~ label ~ label {
            color: white;
        }

        .rating p:hover label {
            color: gold;
        }

        .rating label:hover ~ label {
            color: white;
        }
        </style>
    </form>

    {% if past_surveys %}
    <table class="list-table">
        <tr>
            {% for field in survey_fields %}
            <th>{{ field.adjective|title }}</th>
            {% endfor %}
            <th>评论</th>
            <th>提交</th>
            <th></th>
        </tr>
        {% for past_survey in past_surveys %}
        <tr>
            {% for field in past_survey.fields %}
            <td>{{ field.value }} <small>/ {{ field.max }}</small></td>
            {% endfor %}
            <td><pre class="submitted-text">{{ past_survey.comments }}</pre></td>
            <td>{% format_time past_survey.submitted_datetime %}</td>
            <td><a href="javascript:editSurvey({{ past_survey.id }})">编辑</a></td>
        {% endfor %}
    </table>
    {{ past_surveys|json_script:"past_surveys" }}
    <script>
        function clearSurvey() {
            $('#survey_form [name=id]').val('');
            $('#survey_form [type=radio]').prop('checked', false);
            $('#survey_form [name=comments]').val('');
        }
        function editSurvey(id) {
            for (const pastSurvey of JSON.parse($('#past_surveys').text())) {
                if (pastSurvey.id != id) continue;
                $('#survey_form [name=id]').val(pastSurvey.id);
                for (const field of pastSurvey.fields)
                    $('#survey_form [name=' + field.name + '][value=' + field.value + ']').prop('checked', true);
                $('#survey_form [name=comments]').val(pastSurvey.comments);
            }
        }
    </script>
    {% endif %}
    {% endif %}
{% else %}
    {% if guesses_remaining == 0 %}
    <p>你在本题的回答次数已用尽。若需要补充更多回答次数，请联系管理员。</p>
    {% else %}
    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
        <div class="form-row">
            <div class="form-desc">
                {{ field.label_tag }}
            </div>
            {{ field }}
            {{ field.errors }}
            <div class="form-desc">
                你在本题还剩余 {{ guesses_remaining }} 次回答次数。
            </div>
            <a class="delete-row" href="#">&#x2794;</a>
        </div>
        {% endfor %}
    </form>
    {% endif %}

{% endif %}

{% if puzzle_submissions %}
    <h4>历史回答</h4>
    <ul>
        {% for submission in puzzle_submissions %}
        <li>
            {{ submission.submitted_answer }}
            {% for pm in puzzle.puzzlemessage_set.all %}
                {% if submission.submitted_answer == pm.semicleaned_guess %}
                    <span style="color:white; background-color: rgba(64, 176, 32, 0.8)">
                        {{pm.response}}
                    </span>
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
{% endif %}
</main>

<script>
$('.delete-row').click(function(e) {
    e.preventDefault();
    this.closest('form').requestSubmit();
});
</script>

{% endblock %}
