{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h1>剧情</h1>

<main>

{% for key in story_points %}

{% if key == 'round1_open' %}
<div class="no-break story-chunk">
    <h4>文档1 已新建</h4>
    <p>“202x届毕业生的学位论文提交截止时间是x月x日，请各毕业生注意毕业相关时间节点，及时提交学位论文，以免影响毕业……”</p>
    <p>我叹了口气，看着微信里辅导员发的消息和数个文件，《xx大学学位论文格式要求》、《xx大学毕业相关事项》……逐个点开，扫了两眼又匆匆关上。若问为何，自然是因为现在我的论文还处在新建文档的阶段，无心去思考后续的各种安排。</p>
    <p>“唉，这该死的论文到底要怎么写啊？”我抬起头，看向电脑上空荡荡的“文档1”，“额啊，早知道寒假就不摸鱼了，今年这提交时间怎么还提前了呢，这下是真的难办咯。”</p>
    <p>这时，手机又振动起来。</p>
    <p>“下午来我办公室一趟，我们讨论下你毕业论文的事”，发信人是我的导师。</p>
    <p>心脏猛地一缩，我咽了一口水，深吸一口气，摘下眼镜，低下头去，用手背摩擦着我的鼻梁。完蛋了完蛋了，这下我寒假一篇论文都没看的事情就要暴露了，估计免不了要挨一顿批了，希望他不要骂得太难听吧！</p>
    
    <p>“我看了下你们今年的deadline是x月x日，应该说不算特别紧张，但也不是特别充裕，现在进度怎么样了，你简单说一下。”导师微笑着对着我说。</p>
    <p>“嗯……老师，其实我现在没什么进展，您年前给我发的那几篇论文我也没怎么看……”我把身子蜷缩在椅子里，用着我自己都听不太清的声音嗫嚅着。</p>
    <p>“那你打算怎么毕业呢？”导师依然面带微笑，语气中也听不出责备的意味。</p>
    <p>“我……我不知道。”我实话实说。</p>
    <p>“其实你们本科毕业论文要求不算很高，只要认真做了相关工作基本上都能顺利毕业，但前提当然是你真正付出了努力。面对论文这样一座大山，有畏难情绪而拖延是很正常的。但是现在已经没有更多时间让你继续磨蹭了，必须现在就开始行动起来。”</p>
    <p>“但是老师，我不知道该怎么开始……”</p>
    <p>“一个大的课题可能是很难完成的，而且也很难找到入手点。这种时候最好的方法就是把它分解成更小，更容易解决的课题，逐个击破。后面我会给你布置一些小的课题，你每完成一道，我都会给你布置一道新的。”</p>
    <p>“当然，这些课题的难度可能会随着你能力的提升而有所增加。不过你也不用太担心，如果你遇到了实在解决不了的难题，也可以来找我，我会给你一些指导。为了让你不过分依赖于我，我可以指导你的次数是有限的，每过12小时就会多给你一次指导机会。”</p>
    <p>“那么，接下来就看你究竟能拿出什么样的表现了。我待会会把课题发给你的，今天就到这里吧。”</p>
    <p>“谢谢老师，我会努力的！”我起身鞠了一躬，离开了办公室。</p>

    <p>回到寝室，我看到我的待办事项里多了几个红点。</p>
    <p>是什么样的课题呢？</p>
    <p>我能完成它们吗？</p>
    <p>我能顺利毕业吗？</p>
    <p>在忐忑不安中，我点开了页面……</p>

</div>
{% endif %}

{% if key == 'round2_open' %}
<div class="no-break story-chunk">
    <h4>二月底</h4>
    <p>“论文的写作过程是很痛苦的，可能有很多时候你都会想放弃，但是这种时候尤其需要调整好自己的心态，尽量不要让这些附加的情绪干扰到你正常的工作。当然，你能来跟我交流这一点，说明你有意识在调整了，这是好事。</p>
    <p>“我看了一下，前一阶段的工作完成得很不错。接下来是一些数据处理的工作，希望你能再接再厉。”</p>
</div>
{% endif %}

{% if key == 'round3_open' %}
<div class="no-break story-chunk">
    <h4>三月底</h4>
    <p>“我已经收到你的初稿了，总的来说还是可以的，作为一篇毕业论文来说已经初具雏形，但是依然还有不少问题存在。“</p>
    <p>“修改论文并不是一件容易的事，有时候会比从零开始还要困难。为了让修改过程能够顺利进行，接下来在你得到课题的结论之后我都会做些点评，让你更清楚地明白我想要的究竟是什么。我很期待你的发挥……”</p>
</div>
{% endif %}

{% if key == 'fm_open' %}
<div class="no-break story-chunk">
    <h4>四月底</h4>
    <p>SLEEP ALL DAY!</p>
    <p>把论文完成后，我整整睡了一天。虽然deadline就在今天，但是接下来只需要提交就可以了。我自信满满打开提交论文的页面，点击，上传，提……糟糕！还有最后的一个部分没有写完！</p>
</div>
{% endif %}

{% if key == 'victory' %}
<div class="no-break story-chunk">
    <h4>论文 已完成</h4>
    <p>FamilyMart？</p>
    <p>全家？</p>
    <p>我不禁笑出声来。</p>
    <p>是啊，它不是从我来到这座校园的第一天起就陪伴在我身边吗？</p>
    <p>在这所素以食堂难吃而闻名的学校里，这家在校园内随处可见的便利店是无数学子的第二食堂，留下了数不清的回忆：</p>
    <p>早八课上偷偷咬一口软和的包子，</p>
    <p>饥肠辘辘的午间盼望着美味精致的便当，</p>
    <p>通宵的夜晚总有热气腾腾的关东煮的陪伴，</p>
    <p>“是啊，是该好好感谢一下呢。”</p>
    <p>我悄悄地起身，来到楼下，夜幕下的校园静谧而美丽，在昏暗路灯点缀的道路尽头，熟悉的玻璃门后依然射出了明亮的灯光。</p>
    <p>我慢慢向那束灯光走去。</p>
    <p>“叮咚——”</p>
    <hr>
    <p>恭喜你完成了FDUPH：Final Deadline Upcoming的最终谜题！</p>
    <p>欢迎加入通关群：##########。</p>
    <hr>
    <h5>【策划】</h5>
    <p>Wonderepublic</p>
    <h5>【结构设计】</h5>
    <p>Wonderepublic</p>
    <h5>【谜题设计】</h5>
    <p>Lithium、Sapium、Wonderepublic、amway、inequality、xxuurruuii、澈、小大圣、小汤圆</p>
    <h5>【谜题美工】</h5>
    <p>Lithium</p>
    <h5>【网站支持】</h5>
    <p>Sapium、月下桜丶天国</p>
    <h5>【剧情】</h5>
    <p>Lithium、Wonderepublic</p>
    <h5>【海报及logo设计】</h5>
    <p>xc</p>
    <h5>【内测】</h5>
    <h6>单题测试</h6>
    <p>Las4one、Reiki、hashinose、zzbbzz</p>
    <h6>流程测试</h6>
    <p>npl</p>
    <h6>全仿真测试</h6>
    <p>...</p>

</div>
{% endif %}

{% endfor %}

</main>

{% endblock %}
