{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}
{% block content %}

<h1>团队列表</h1>

<main>
    <table class="list-table">
        <col style="width: 25%">
        <col style="width: 50%">
        <col style="width: 25%">
        <tbody>
            <tr>
                <th>队名</th>
                <th>成员</th>
                <th>成立时间</th>
            </tr>
            {% for team in teams %}
            <tr {% if team.id == current_team.id %}class="current-team"{% endif %}>
                <td>
                    <a href="{% url 'team' team.team_name %}">{{ team.team_name }}</a>
                    {% if is_superuser %}
                        (<a href="{% url 'impersonate-start' team.team.user_id %}">{% translate "impersonate" %}</a>)
                    {% endif %}
                </td>
                <td>
                    {{ team.team_member_joint_string }}
                </td>
                <td>
                    {% format_time team.creation_time 'DATE_AT_TIME' %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}
