{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}
{% load static %}

{% block content %}

<h1>常用工具</h1>

<main>
    <div class="no-break">
        <h4>单词查询</h4>
        <ul>
            <li>
                <a href="https://nutrimatic.org/2024">Nutrimatic</a>：词组正则匹配网站，使用教程参见<a href="https://mp.weixin.qq.com/s/gJCYK3GhE-qLeCgVm4fgJA">这里</a>。
            </li>
            <li>
                <a href="https://www.quinapalus.com/qat.html">Qat</a>：单词匹配网站。
            </li>
            <li>
                <a href="https://www.onelook.com/">Onelook</a>：释义查询及词组匹配网站。
            </li>
        </ul>
    </div>

    <div class="no-break">
        <h4>密码破解</h4>
        <ul>
            <li>
                <a href="https://gchq.github.io/CyberChef/">Cyberchef</a>：集合了众多编码解码和大量加密解密方法的数据处理工具。
            </li>
            <li>
                <a href="https://www.quipqiup.com/">Quipqiup</a>：单表密码工具。
            </li>
            <li>
                <a href="https://www.dcode.fr/en">dCode</a>：提供各类用于古典密码、文字游戏、代码编码甚至策略游戏的工具。
            </li>
        </ul>
    </div>

    <div class="no-break">
        <h4>中文工具</h4>
        <ul>
            <li>
                <a href="https://www.qianp.com/">千篇国学</a>：字典、词典、成语索引网站。
            </li>
            <li>
                <a href="https://zi.tools/">字统网</a>：汉字搜索网站。
            </li>
            <li>
                <a href="https://sou-yun.cn/">搜韵</a>：诗词搜索网站。
            </li>
        </ul>
    </div>

    <div class="no-break">
        <h4>综合工具</h4>
        <ul>
            <li>
                <a href="https://philippica.github.io/cipher_machine/">焖肉面</a>：puzzle hunt常用工具集。
            </li>
            <li>
                <a href="https://puzz.cipherpuzzles.com/tools/bblbch.htm">不暴力不成活</a>：各种古典密码暴力工具。
            </li>
        </ul>
    </div>

    <div class="no-break">
        <h4>其他工具</h4>
        <ul>
            <li>
                <a href="https://www.noq.solutions/">Noq</a>：纸笔谜题求解工具。
            </li>
            <li>
                <a href="https://phenomist.wordpress.com/storage/sets/">Sets of things</a>：puzzle hunt常见数据集整理。
            </li>
            <li>
                由解谜爱好者 CALS 制作的常用密码表：<br>
                <img src="{% static 'images/cals.webp' %}" style="height: 60vh; object-fit: cover;">
            </li>
        </ul>
    </div>
</main>

{% endblock %}
