{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}
<main>
    <h4>论文 已完成</h4>
    <p>FamilyMart？</p>
    <p>全家？</p>
    <p>我不禁笑出声来。</p>
    <p>是啊，它不是从我来到这座校园的第一天起就陪伴在我身边吗？</p>
    <p>在这所素以食堂难吃而闻名的学校里，这家在校园内随处可见的便利店是无数学子的第二食堂，留下了数不清的回忆：</p>
    <p>早八课上偷偷咬一口软和的包子，</p>
    <p>饥肠辘辘的午间盼望着美味精致的便当，</p>
    <p>通宵的夜晚总有热气腾腾的关东煮的陪伴，</p>
    <p>“是啊，是该好好感谢一下呢。”</p>
    <p>我悄悄地起身，来到楼下，夜幕下的校园静谧而美丽，在昏暗路灯点缀的道路尽头，熟悉的玻璃门后依然射出了明亮的灯光。</p>
    <p>我慢慢向那束灯光走去。</p>
    <p>“叮咚——”</p>
    <hr>
    <p>恭喜你完成了FDUPH：Final Deadline Upcoming的最终谜题！</p>
    <p>欢迎加入通关群：1040195688。</p>
    <p>也欢迎您填写<a href="https://docs.qq.com/aio/DTk9heERpZUJpd2pS?p=zzKvCl3SsADI9vqYs1SQfG&client_hint=0#K2vVDBYQpo68mHbAddkfx3">活动体验问卷</a>！留下您宝贵的意见！</p>
    <hr>
    <h5>【策划】</h5>
    <p>Wonderepublic</p>
    <h5>【结构设计】</h5>
    <p>Wonderepublic</p>
    <h5>【谜题设计】</h5>
    <p>Lithium、Sapium、Wonderepublic、amway、inequality、xxuurruuii、澈、小大圣、小汤圆</p>
    <h5>【谜题美工】</h5>
    <p>Lithium</p>
    <h5>【网站支持】</h5>
    <p>Sapium、月下桜丶天国</p>
    <h5>【剧情】</h5>
    <p>Lithium、Wonderepublic</p>
    <h5>【海报及logo设计】</h5>
    <p>xc</p>
    <h5>【内测】</h5>
    <h6>单题测试</h6>
    <p>Las4one、Reiki、hashinose、zzbbzz</p>
    <h6>流程测试</h6>
    <p>npl</p>
    <h6>仿真测试</h6>
    <p>dailycrazy、Logistick、hahahaHAha、Arya、yux</p>
    <h6>特别感谢</h6>
    <p>复旦大学推理协会</p>
</main>
{% endblock %}
