{% extends "puzzle.html" %}
{% block puzzle-body-md %}

我们有实时更新的先进命名法
{: .flavor}

<div align="center">
    <div>
        <img src="/static/puzzle_resources/r1q1-01.webp" style="height: 10vw;">
    </div>
    <!-- <div class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <whitelong>-</whitelong>
        <long>11</long>
        <long></long>
        <long></long>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <long></long>
        <long></long>
        <long></long>
        <whitelong>-</whitelong>
        <long>12</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
    </div>
    <hr> -->
    <div>
        <img src="/static/puzzle_resources/r1q1-02.webp" style="height: 10vw;">
    </div>
    <!-- <div class="blanks">
        <long>9</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <long></long>
        <long></long>
        <long>4</long>
        <long></long>
        <long></long>
        <long></long>
    </div>
    <hr> -->
    <div>
        <img src="/static/puzzle_resources/r1q1-03.webp" style="height: 10vw;">
    </div>
    <!-- <div class="blanks">
        <long>2</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>6</long>
        <long></long>
    </div>
    <hr> -->
    <div>
        <img src="/static/puzzle_resources/r1q1-04.webp" style="height: 10vw;">
    </div>
    <!-- <div class="blanks">
        <long></long>
        <long>1</long>
        <long></long>
        <long></long>
        <long></long>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <long></long>
        <long></long>
        <long>5</long>
        <long></long>
        <long></long>
    </div>
    <hr> -->
    <div>
        <img src="/static/puzzle_resources/r1q1-05.webp" style="height: 10vw;">
    </div>
    <!-- <div class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>3</long>
        <long></long>
        <long></long>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>8</long>
    </div>
    <hr> -->
    <div>
        <img src="/static/puzzle_resources/r1q1-06.webp" style="height: 10vw;">
    </div>
    <!-- <div class="blanks">
        <long></long>
        <long></long>
        <long>7</long>
        <long></long>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <whitelong></whitelong>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>10</long>
    </div> -->
</div>

<button class="btn clipboard-button"></button>

{% endblock %}
