{% extends "puzzle.html" %}
{% block puzzle-body-md %}

五角大楼，炸掉一个角，还剩几个角？
{: .flavor}

<table>
    <tr>
        <td>3230</td>
        <td>2041</td>
        <td>7734</td>
        <td>1825</td>
    </tr>
    <tr>
        <td>3080</td>
        <td>3611</td>
        <td>1790</td>
        <td>2723</td>
    </tr>
    <tr>
        <td>8025</td>
        <td>4471</td>
        <td>4780</td>
        <td>1865</td>
    </tr>
    <tr>
        <td>9010</td>
        <td>9010</td>
        <td>1010</td>
        <td>1010</td>
    </tr>
    <tr>
        <td>1825</td>
        <td>9501</td>
        <td>2090</td>
        <td>9844</td>
    </tr>
</table>


<button class="btn clipboard-button"></button>

{% endblock %}
