{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div align="center">
    <div><img src="/static/puzzle_resources/r1q4-01.png" width=60%></div>
    <div class="blanks">
        <long></long>
        <long>7</long>
        <long></long>
        <long></long>
        <long>6</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
    </div>
    <hr>
    <div><img src="/static/puzzle_resources/r1q4-02.png" width=60%></div>
    <div class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long>1</long>
        <long></long>
        <long>8</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
    </div>
    <hr>
    <div><img src="/static/puzzle_resources/r1q4-03.png" width=60%></div>
    <div class="blanks">
        <long>9</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>2</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
    </div>
    <hr>
    <div><img src="/static/puzzle_resources/r1q4-04.png" width=60%></div>
    <div class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>3</long>
        <long></long>
        <long></long>
        <long>5</long>
        <long></long>
    </div>
    <hr>
    <div><img src="/static/puzzle_resources/r1q4-05.png" width=60%></div>
    <div class="blanks">
        <long>10</long>
        <long></long>
        <long>4</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
    </div>
</div>

<button class="btn clipboard-button"></button>

{% endblock %}