{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div class="notice_info">
    本题有中间答案验证。
</div>

"这些字除了抑扬顿挫，读起来不是都一样的吗？"<br>
"真的是一样的吗？"
{: .flavor}

<table cellspacing="0" cellpadding="20" align="center" style="font-size: 1.2em; border: none; border-collapse: collapse;">
    <tr><td>期</td><td>其</td><td>欺</td><td>奇</td><td>妻</td></tr>
    <tr><td>敲</td><td>瞧</td><td>锹</td><td>悄</td><td>乔</td></tr>
    <tr><td>相</td><td>香</td><td>乡</td><td>厢</td><td>祥</td></tr>
    <tr><td>秋</td><td>求</td><td>球</td><td>囚</td><td>鳅</td></tr>
    <tr><td>菊</td><td>狙</td><td>橘</td><td>居</td><td>雎</td></tr>
    <tr><td>涎</td><td>掀</td><td>闲</td><td>仙</td><td>衔</td></tr>
    <tr><td>稀</td><td>昔</td><td>希</td><td>吸</td><td>席</td></tr>
    <tr><td>氢</td><td>晴</td><td>氰</td><td>擎</td><td>清</td></tr>
    <tr><td>挟</td><td>携</td><td>蝎</td><td>歇</td><td>邪</td></tr>
    <tr><td>签</td><td>黔</td><td>芊</td><td>迁</td><td>虔</td></tr>
    <tr><td>圈</td><td>泉</td><td>醛</td><td>全</td><td>悛</td></tr>
</table>

<button class="btn clipboard-button"></button>

{% endblock %}
