{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div class="notice_info">
    本题有中间答案验证。
</div>

这些长短不一的音乐就是新时代的音乐吗？欣赏不来。
{: .flavor}

<div style="text-align: center">
    <table style="margin: 0 auto;">
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m01.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(5)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m02.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(2)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m03.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(2)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m04.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(9)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m05.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(5)</td>
        </tr>
    </table>
</div>

<hr>

<div style="text-align: center">
    <table style="margin: 0 auto;">
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m06.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(4)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m07.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(2)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m08.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(4)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m09.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(9)</td>
        </tr>
    </table>
</div>

<hr>

<div style="text-align: center">
    <table style="margin: 0 auto;">
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m10.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(6)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m11.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(11)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m12.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(7)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m13.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(1)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m14.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(12)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m15.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(11)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m16.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(12)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m17.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(10)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m18.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(7)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m19.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(8)</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;border: none;"><audio controls><source src="/static/puzzle_resources/r1q6/m20.mp3" type="audio/mp3"></audio></td>
            <td style="vertical-align: middle;border: none;">(13)</td>
        </tr>
    </table>
</div>
<button class="btn clipboard-button"></button>

{% endblock %}
