{% extends "puzzle.html" %}
{% block puzzle-body-md %}

这些流传的精神相互之间查重率也太高了
{: .flavor}

<img src="/static/puzzle_resources/r1q7.png" style="height:40vw">

<ul>


<li><span class="blanks">
    <long></long>
    <long></long>
    <long></long>
    <long>1</long>
    <long></long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long></long>
    <long></long>
    <long></long>
    <long>7</long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long>5</long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long>10</long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long></long>
    <long>11</long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long>2</long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long>4</long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long></long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long>6</long>
    <long></long>
    <long></long>
    <whitelong>-</whitelong>
    <long></long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long>9</long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long>8</long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long>12</long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

<li><span class="blanks">
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long>3</long>
    <long></long>
    <long></long>
    <whitelong></whitelong>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
    <long></long>
</span></li>

</ul>
<button class="btn clipboard-button"></button>

{% endblock %}
