{% extends "puzzle.html" %}
{% block puzzle-body-md %}

科学处理你的数据，将你的数据与参考文献等量齐观，从大到小排列后，你会发现，你的数据指向了？
{: .flavor}

科学处理方法： e.g. ten=???=10

<ul>
    参考文献：
    <li>毕淑敏游记题目中的地点(6)</li>
    <li>James bond的职业(5)</li>
    <li>The Musical Comedy Murders的作者(4 6)</li>
    <li>把Brian Moriarty的演讲作为final meta的游戏制作人(8 4)</li>
    <li>宇宙中最快的速度(10或5 5)</li>
    <li>禁军教头(3 5)</li>
    <li>许渊冲翻译《茅屋为秋风所破歌》中一句里的事物(8)</li>
    <li>元素周期表中为纪念诺贝尔而命名的元素(8)</li>
    <li>马克吐温的小说题目中的事物(5)</li>
</ul>

<button class="btn clipboard-button"></button>

{% endblock %}
