{% extends "puzzle.html" %}
{% block puzzle-body-md %}


<img style="width: 60%;" src="/static/puzzle_resources/r2q1/01.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/02.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/03.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/04.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/05.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/06.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/07.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/08.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/09.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/10.png">



<button class="btn clipboard-button"></button>

{% endblock %}
