{% extends "puzzle.html" %}
{% block puzzle-body-md %}


P&KU2里有一道题叫《古筝行动》，在那道题中你需要由汉字的切割碎片来推断出原来的汉字。我试图探索这道题其他的可能。

比如我们可以赋予切割其他层面的含义，或者切割汉字之外的东西，又或者不直接给出切割结果……

*所有小题答案均为10字母英文。*



<img style="width: 60%;" src="/static/puzzle_resources/r2q1/01.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/02.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/03.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/04.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/05.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/06.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/07.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/08.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/09.png">
<img style="width: 60%;" src="/static/puzzle_resources/r2q1/10.png">



<button class="btn clipboard-button"></button>

{% endblock %}
