{% extends "puzzle.html" %}
{% block puzzle-body-md %}


你在一个荒岛上醒来，手里只有一张纸条，上面写着：

“这座岛上共有按顺序排列的6片谜题。

对于所有谜题，你需要将每个格子涂黑或涂白，使得它们满足所有数字与符号的规则。

所有谜题，无论是否在同一个Set，均共享同一套规则。然而，规则不会事先告知，需要你自己猜测。

你唯一知道的是，每题有且仅有两解。

若你发现自己猜测的规则下存在一题解的数量不等于2，则你的猜测有误。

A1与A2两题，每题的两个解均已给出。祝你好运！”

<hr>

<h5>Set A</h5>
<p>在岛上的一个山洞中，你发现了规模宏大的壁画。这些真的是题吗？</p>
<img src="/static/puzzle_resources/r2q2-01.png" style="height: 80vh">

<hr>

<h5>Set B</h5>
<p>你走到下一片谜题前，看到有两组题中间画上了等号。地上又有一张纸条，你捡了起来：</p>
<p>“如果你发现在新的区域内，有在你猜测的规则下无解或超过2解的题，不要紧张。</p>
<p>很有可能，你猜测的规则在某些情况下是正确的，但并不能涵盖所有情况。</p>
<p>换言之，你猜测的规则是真实规则的特例。</p>
<p>这个区域前两组题的解完全相同，我为你用等号标注了出来。请接着探索真实的规则。</p>
<p>若你毫无头绪，也许标题能帮助你。”</p>
<img src="/static/puzzle_resources/r2q2-02.png" style="height: 80vh">

<hr>

<h5>Set C</h5>
<p>“我理解了。”你带着新的知识走向下一个区域。这回，数字出现在了网格内部而非外部。你隐约感到，网格内数字与网格外数字间有内在联系。</p>
<img src="/static/puzzle_resources/r2q2-03.png" style="height: 80vh">

<hr>

<h5>Set D</h5>
<p>远处蓝色的光芒吸引了你。走近一看，谜题中出现了一些星星，发出淡淡的蓝色荧光。</p>
<img src="/static/puzzle_resources/r2q2-04.png" style="height: 80vh">

<hr>

<h5>Set E</h5>
<p>“星星的效果真神奇，但仅仅如此吗？”你又看到了熟悉的等号。</p>
<img src="/static/puzzle_resources/r2q2-05.png" style="height: 80vh">

<hr>

<h5>Set F</h5>
<p>山洞逐渐变得狭窄，你意识到自己即将抵达旅途的终点。</p>
<img src="/static/puzzle_resources/r2q2-06.png" style="height: 80vh">

<hr>

<h5>Final</h5>
<p>你在山洞的尽头发现了一个像是笼子的石制建筑，大门紧紧关着。</p>
<p>门上的三个谜题，比你之前见过的任何都要大。</p>
<p>谜题下方有一些算式，旁边还有一行字：黑白相消，余数累和。</p>
<img src="/static/puzzle_resources/r2q2-07.png" style="height: 80vh">

<button class="btn clipboard-button"></button>

{% endblock %}
