{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div class="notice_info">
    本题有中间答案验证。
</div>

<ul>

<li>一种金属制品，也常用来比喻遇到棘手的问题</li>
<li>为了表现主要写作对象而提前做的基础性描写</li>
<li>蔷薇科、李属植物的一种，也可以作为该属的统称</li>
<li>____、病菌与钢铁</li>
<li>传说躲进螃蟹壳里的和尚</li>
<li>将固体物质加热到高温以达到脱水、分解或除去挥发性杂质、烧去有机物等目的的操作</li>
<li>将食物放入食用油中加热的过程</li>
<li>松树的叶子</li>
<li>向系统发出清除登录的用户的请求</li>
<li>一种室内取暖设备，一般砌于墙内</li>
<li>TVB电视剧《再战明天》的片尾曲</li>
<li>原指大火炉，后也被用来比喻陶冶和锻炼人的环境</li>
<li>位于海岸、港口或河道，用以指引船只方向的建筑物</li>
<li>出自《述异记》的著名典故，指岁月流逝，人事变迁。</li>
<li>一点____竹里村，人家深闭雨中门</li>
<li>复旦大学江湾校区所在的上海市区级行政区划</li>
<li>煤炭开采时由于为了安全，采煤时在采面留下不采的部分</li>
<li>国产推理作家青稞作品中出现的建筑</li>
<li>杭州的古称</li>

</ul>

<button class="btn clipboard-button"></button>

{% endblock %}
