{% extends "puzzle.html" %}
{% block puzzle-body-md %}


<style>
    img {
        height: 20vw;
        margin: 5px;
    }
</style>

<div class="notice_info">
    本题有中间答案验证。
</div>

唉怎么打什么歌都得掉几个 lost<br>
还都是掉的蛇，要是都 pm 了就好了
{.flavor}

<div align="center">
<div><img src="/static/puzzle_resources/r2q5/r2q5-01.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-02.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-03.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-04.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-05.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-06.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-07.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-08.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-09.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-10.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-11.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-12.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-13.png" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-14.png" style="height:20vw"></div>
</div>

<button class="btn clipboard-button"></button>

{% endblock %}
