{% extends "puzzle.html" %}
{% block puzzle-body-md %}


<style>
    img {
        height: 20vw;
        margin: 5px;
    }
</style>

<div class="notice_info">
    本题有中间答案验证。
</div>

唉怎么打什么歌都得掉几个 lost<br>
还都是掉的蛇，要是都 pm 了就好了
{.flavor}

<div align="center">
<div><img src="/static/puzzle_resources/r2q5/r2q5-01.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-02.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-03.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-04.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-05.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-06.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-07.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-08.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-09.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-10.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-11.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-12.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-13.webp" style="height:20vw"></div>
<div><img src="/static/puzzle_resources/r2q5/r2q5-14.webp" style="height:20vw"></div>
</div>

<button class="btn clipboard-button"></button>

{% endblock %}
