{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div class="notice_info">
    本题有中间答案验证。
</div>

b ch i iao sh u, a b en t u zh(1)。

d i ian ie iu l l u w x(2), ai i i iao ing j t y z z。

b ia ian l m u u uo w x(2), ai ang b ch iang in j j l u。

h i l l ua uan ue uo y y(1), ang ch eng f i iu l  t u x。

ian ing iu n q x(1), an e h h n v。

an ang ch h ing q sh u uan y(2), ang ao c f ing ou u w y zh。

a d i ian j r u u x y, i ian iao r s u u x x y(3)。

an ang ong s sh sh(1), eng f g ong u zh。

ei h i ie j m sh u uang y, a ang ao c ch i ing q t w(2)。

ch d h ia ian ie j j ua uan(1), d ei f ian ing ing q sh t ui。

ang ch ch e g ong u u y zh, e h ian ing sh t u u x y(2)。

en eng i iong q r sh u w y, i i iang iang j s ue x y zh(1)。

eng f h i in ing q q ua y, ai i iang iu k l r u x y(1)。

c en r uan un y(1), an i l u x y。

eng f in ing l x(2), g i k ong ui y。

(4 6)

<button class="btn clipboard-button"></button>

{% endblock %}
