{% extends "puzzle.html" %}
{% block puzzle-body-md %}

听说去了奇怪的地方才能做交易呢。
{: .flavor}


<ul>这里曾是加勒比 <span class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>1</long>
        <long></long>
        <long></long>
    </span> 的拍摄地。你看到了海里的10条北梭鱼，它们游过交叠的痕迹让你想起了罗马数字 6。</ul>
<ul>这里被 <span class="blanks">
        <long></long>
        <long>2</long>
        <long></long>
        <long>2</long>
        <long></long>
        <long>2</long>
        <long></long>
        <long></long>
    </span> 沙漠覆盖了70%的国土。你来到了这里的矿洞，他们告诉你这里有100道钻石 <span class="blanks">
        <long>16</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
    </span> 的工序，你感到非常震惊。</ul>
<ul>你来到了苏联领导人 <span class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>7</long>
        <long></long>
    </span> 的故乡。你来到了这里的动物园，能够看到这里有2只开屏的 <span class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>3</long>
        <long></long>
    </span>。</ul>
<ul>这里是世界第二大 <span class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>12</long>
        <long></long>
    </span> 生产国， 这种矿物通常被用来生产铝和镓。这里竟然有20000座水电站，你记下了最大的 <span class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long>4</long>
        <long></long>
        <long></long>
    </span> 水电站的名字。</ul>
<ul>这里是欧洲唯一一个没有与 <span class="blanks">
        <long>15</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
    </span> 接壤的前苏联国家。你看到这里有20座 <span class="blanks">
        <long></long>
        <long>9</long>
        <long></long>
        <long>9</long>
        <long></long>
        <long></long>
    </span> 城堡，似乎是重要的防御工事。</ul>
<ul>你来到了世界上唯一一面国旗非矩形的国家， 它位于 <span class="blanks">
        <long>8</long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>8</long>
        <long></long>
        <long></long>
    </span> 。你爬上了山，远处隐约能看到10只 <span class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long>11</long>
        <long></long>
        <long></long>
        <long></long>
        <long>11</long>
        <long></long>
    </span> 。</ul>
<ul>这里是 <span class="blanks">
        <long></long>
        <long></long>
        <long>5</long>
        <long></long>
    </span> 的成员国，相关的液态化石燃料是重要能源。你走到这里的广场，看到了5个 <span class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>13</long>
        <long></long>
    </span> 舞者。</ul>
<ul>这里的名字在乌尔都语和波斯语中都是“圣洁的 <span class="blanks">
        <long>10</long>
        <long></long>
        <long></long>
        <long></long>
    </span> ”。在路上你得知接下来有10个 <span class="blanks">
        <long></long>
        <long></long>
        <long></long>
        <long></long>
        <long>14</long>
        <long></long>
    </span> 山口，不由得叹了一口气。</ul>

<button class="btn clipboard-button"></button>

{% endblock %}