{% extends "puzzle.html" %}
{% block puzzle-body-md %}

模糊到看不清的文字<br>
似乎原本是个填字游戏
{: .flavor}

与实际情况很接近（五）

因直言进谏被纣王挖出心脏的臣子（二）

也称相对密度，指一物质的密度与参考物质的密度的比值（二）

《足球小将》的主人公（三）

西湖著名景点，传说是一对情侣初次相会的地方（二）

山下英子提出的生活理念（三）

甘地领导的反抗英国殖民统治的运动名称（六）

上海最好的大学（四）

如欧阳、诸葛、上官等（二）

篮球的技术统计数据之一，俗称“火锅”（二）

指现在不是过去能比得上的（四）

办事情轻而易举，毫不费力（四）

奥运会项目之一，代表性的运动员有陈镜开，三宅义信等（二）

回旋加速器的发明者（三）

新中国第一位获得“人民艺术家”称号的作家（二）

虚拟力的一种（三）

泰晤士河上的地标性建筑（四）

功率单位，约等于七三五瓦特（二）

本题的提取方法（二）

抗日战争期间对日军使用的三八式步枪的俗称（四）

摩西向以色列民族颁布的规定与行动准则（二）

一种常见的屏幕长宽比，近年来逐渐被十六比九取代（三）

中国唯一一个名字中包含数字的省级行政区（二）

机身为塔架式结构的全回转动臂架式起重机（二）

加入非法团体时表示忠心的保证书（三）

事情既然做了开头，就索性做到底。包含两个数字（六）

宁夏回族自治区的首府（二）

改编自《仿生人会梦见电子羊吗？》的经典科幻电影（四）

出卖耶稣的门徒（二）

公开称呼当事人姓名（四）





<button class="btn clipboard-button"></button>

{% endblock %}
