{% extends "puzzle.html" %}
{% block puzzle-body-md %}

模糊到看不清的文字<br>
似乎原本是个填字游戏
{: .flavor}

与实际情况很接近（5）

因直言进谏被纣王挖出心脏的臣子（2）

也称相对密度，指一物质的密度与参考物质的密度的比值（2）

《足球小将》的主人公（3）

西湖著名景点，传说是一对情侣初次相会的地方（2）

山下英子提出的生活理念（3）

甘地领导的反抗英国殖民统治的运动名称（6）

校训为“博学而笃志，切问而近思”的大学（4）

如欧阳、诸葛、上官等（2）

篮球的技术统计数据之一，俗称“火锅”（2）

指现在不是过去能比得上的（4）

办事情轻而易举，毫不费力（4）

奥运会项目之一，代表性的运动员有陈镜开，三宅义信等（2）

回旋加速器的发明者（3）

新中国第一位获得“人民艺术家”称号的作家（2）

虚拟力的一种（3）

泰晤士河上的地标性建筑（4）

功率单位，约等于735瓦特（2）

本题的提取方法（2）

抗日战争期间对日军使用的三八式步枪的俗称（4）

摩西向以色列民族颁布的规定与行动准则（2）

一种常见的屏幕长宽比，近年来逐渐被十六比九取代（3）

中国唯一一个名字中包含数字的省级行政区（2）

机身为塔架式结构的全回转动臂架式起重机（2）

加入非法团体时表示忠心的保证书（3）

事情既然做了开头，就索性做到底。包含两个数字（6）

宁夏回族自治区的首府（2）

改编自《仿生人会梦见电子羊吗？》的经典科幻电影（4）

出卖耶稣的门徒（2）

公开称呼当事人姓名（4）





<button class="btn clipboard-button"></button>

{% endblock %}
