{% extends "puzzle.html" %}
{% block puzzle-body-md %}


The next answer plus thirteen mod twenty-six is ___.

The number of o's and s's in the answers is ___.

The sum of the answers mod twenty-eight is ___.

The kth prime number, where k is the number of h's in these answers, is ___.

Twenty divided by the answer to the ninth question is ___.

The number of even answers times two and add four is ___.

The sum of the answers to the first and second questions is ___.

The answer to the third question minus seven is ___.

The answer to the fourteenth question minus five is ___.

The number of y's in these answers plus four is ___.

Twenty-two minus two times k, where k satisfies that the kth question is the only question that share the same answer with this one, is ___.

The number of i's in this sentence plus four is ___.

The medium of these answers plus the i's in the answers minus ten is ___.

The square of (k+1), where k is the number of answers that are not less than twenty, is ___.

Three times the number of answers that are not greater than five is ___.

Seven times the number of answers equal to five is ___.

<div>
    {% for puzzle in request.context.team.solves.values %}
        {% if puzzle.slug == "r3q1" %}
            <hr>
            <h2>导师评语</h2>
            <p>别疏忽大意</p>
        {% endif %}
    {% endfor %}
</div>

<button class="btn clipboard-button"></button>

{% endblock %}
