{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div class="notice_info">
    你可以在腾讯文档中打开本题的只读副本：
    <a href="https://docs.qq.com/sheet/DUHRCVmdMUWdnTUtI">https://docs.qq.com/sheet/DUHRCVmdMUWdnTUtI</a>
</div>

<div class="notice_info">
    本题有中间答案验证。
</div>

远方出现一波又一波的僵尸，你决定用这些植物来对付它们。打败它们之后，剩下的是......
{: .flavor}

<div align="center">
    <img src="/static/puzzle_resources/r3q10-01.webp" style="width:75vw" alt="大嘴花：僵尸吃脑子，我咬掉僵尸的头！
        阳光菇：从小到大。
        毁灭菇：一个坑。
        窝瓜：压扁它们！
        花盆：高人一等。
        双子向日葵：双倍的阳光，双倍的快乐。
        模仿者：复制虽好，可也失去了颜色。">
</div>

<div align="center">
    <img src="/static/puzzle_resources/r3q10-02.webp" style="width:75vw" alt="
    Wave1,,,,,,,,
    acute,child,fish,meter,observatory,surface,tower,wood,
    Wave2,,,,,,,,
    caterpillar,earl,fund,haunted,imagined,klein,pi,show,
    Wave3,,,,,,,,
    class,ice,fawn,particle,pen,quarter,sphere,tractor,
    Wave4,,,,,,,,
    curse,eagle,glance,plotmon,radius,surviving,tesseract,tree,
    Wave5,,,,,,,,
    bicycle,brightly,engine,jack,lamb,menger,rad,rigorous,
">
</div>

<div align="center">
    <img src="/static/puzzle_resources/r3q10-03.webp" style="width:75vw" alt="Wave5阳光菇(7),Wave1双子向日葵(2),Wave1花盆(4),Wave2窝瓜(6),Wave2双子向日葵(1),Wave3大嘴花(1),Wave4大嘴花(3),Wave3阳光菇(1),Wave3双子向日葵(4),Wave4花盆(7),Wave5窝瓜(4),Wave2模仿者(1),Wave1模仿者(3),Wave1毁灭菇(3),Wave2花盆(6),Wave3毁灭菇(1),Wave5花盆(1),">
</div>


<button class="btn clipboard-button"></button>

{% endblock %}
