{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div class="notice_info">
    本题有中间答案验证。
</div>

1. The next answer plus thirteen mod twenty-six is ___.

1. The number of o's and s's in the answers is ___.

1. The sum of the answers mod twenty-eight is ___.

1. The kth prime number, where k is the number of h's in these answers, is ___.

1. Twenty divided by the answer to the ninth question is ___.

1. The number of even answers times two and add four is ___.

1. The sum of the answers to the first and second questions is ___.

1. The answer to the third question minus seven is ___.

1. The answer to the fourteenth question minus five is ___.

1. The number of y's in these answers plus four is ___.

1. Twenty-two minus two times k, where k satisfies that the kth question is the only question that share the same answer with this one, is ___.

1. The number of i's in this sentence plus four is ___.

1. The median of these answers plus the i's in the answers minus ten is ___.

1. The square of (k+1), where k is the number of answers that are not less than twenty, is ___.

1. Three times the number of answers that are not greater than five is ___.

1. Seven times the number of answers equal to five is ___.

<button class="btn clipboard-button"></button>

{% endblock %}
