{% extends "puzzle.html" %}
{% block puzzle-body-md %}

你记忆中熟悉的歌词似乎又有些陌生……
{: .flavor}

曾经似尘飘散 青春如星光 [3]

和毛像说句再见 [3]

和那年同样的盛夏 [1]

侥幸着要去晨练 [1]

那是我睡了四年不愿醒来的梦啊 [3]

你们都留下但只别了我 [3]

天微亮 论文停在致谢页 又是分别 [3]

文定路问方向 离南区路太长 [3]

我总在眺望 之后发觉 [4]

像来时经过校园 [4]

一个少年已离开家 [3]

再瞄一眼就背上行囊 [2]

做一个年少的梦 [5]

<div>
    {% for puzzle in request.context.team.solves.values %}
        {% if puzzle.slug == "r3q11" %}
            <hr>
            <h2>导师评语</h2>
            <p>回忆起母校胜景</p>
        {% endif %}
    {% endfor %}
</div>

<button class="btn clipboard-button"></button>

{% endblock %}
