{% extends "puzzle.html" %}
{% block puzzle-body-md %}

远方出现一波又一波的僵尸，你决定用这些植物来对付它们。打败它们之后，剩下的是......
{: .flavor}

大嘴花：僵尸吃脑子，我咬掉僵尸的头！

阳光菇：从小到大。

毁灭菇：一个坑。

窝瓜：压扁它们！

花盆：高人一等。

双子向日葵：双倍的阳光，双倍的快乐。

模仿者：复制虽好，可也失去了颜色。

<table>
    <tr>
        <td>Wave1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>acute</td>
        <td>child</td>
        <td>fish</td>
        <td>meter</td>
        <td>observatory</td>
        <td>surface</td>
        <td>tower</td>
        <td>wood</td>
        <td></td>
    </tr>
    <tr>
        <td>Wave2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>caterpillar</td>
        <td>earl</td>
        <td>fund</td>
        <td>haunted</td>
        <td>imagined</td>
        <td>klein</td>
        <td>pi</td>
        <td>show</td>
        <td></td>
    </tr>
    <tr>
        <td>Wave3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>class</td>
        <td>ice</td>
        <td>fawn</td>
        <td>particle</td>
        <td>pen</td>
        <td>quarter</td>
        <td>sphere</td>
        <td>tractor</td>
        <td></td>
    </tr>
    <tr>
        <td>Wave4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>curse</td>
        <td>eagle</td>
        <td>glance</td>
        <td>plotmon</td>
        <td>radius</td>
        <td>surviving</td>
        <td>tesseract</td>
        <td>tree</td>
        <td></td>
    </tr>
    <tr>
        <td>Wave5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>bicycle</td>
        <td>brightly</td>
        <td>engine</td>
        <td>jack</td>
        <td>lamb</td>
        <td>menger</td>
        <td>rad</td>
        <td>rigorous</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Wave5阳光菇(7)</td>
        <td>Wave1双子向日葵(2)</td>
        <td>Wave1花盆(4)</td>
        <td>Wave2窝瓜(6)</td>
        <td>Wave2双子向日葵(1)</td>
        <td>Wave3大嘴花(1)</td>
        <td>Wave4大嘴花(3)</td>
        <td>Wave3阳光菇(1)</td>
        <td>Wave3双子向日葵(4)</td>
    </tr>
    <tr>
        <td>Wave4花盆(7)</td>
        <td>Wave5窝瓜(4)</td>
        <td>Wave2模仿者(1)</td>
        <td>Wave1模仿者(3)</td>
        <td>Wave1毁灭菇(3)</td>
        <td>Wave2花盆(6)</td>
        <td>Wave3毁灭菇(1)</td>
        <td>Wave5花盆(1)</td>
        <td></td>
    </tr>
</table>


<button class="btn clipboard-button"></button>

{% endblock %}
