{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div class="notice_info">
    你可以在腾讯文档中打开本题的只读副本：
    <a href="https://docs.qq.com/sheet/DUHVYekpEV0pCb3hC">https://docs.qq.com/sheet/DUHVYekpEV0pCb3hC</a>
</div>

<div class="notice_info">
    本题有中间答案验证。
</div>

数字如洪水般涌来！
{.flavor}

**数字**

3

3

4

5

7

7

7

7

8

11

12

13

29

46

46

88

181

215

257

300

315

396

494

500

678

836

959

1000

1259

1729

2311

2559

5345

6037

6862

19181

26591

31554

37963

42359

488821

534612

832889

1515413

5744412

6168263

8040935

11325013

12194279

14811105

17607829

17910427

18871222

19200426

19910217

20170527

20170831

24812919

26473121

28152101

52574321

54605429

358047093

1465218391

1959438623

1976948053

8589869056

22915020125

23604521557

25054500693

27173413957

66726588757

922271388719

1072951965049

2760889966649

2760889966651

262537412640768744

2113698358678117751

-----------------------------------------------------------------------------------------------------------------
**(?)**

<p>Victims of these _ _ _ _ _ were all found in _ _ _ _ _ cans.(?)[4][6]</p>

<p>At _ _ _ _ _ he didn't want to _ _ _ _ _ _ this company.(?)[2][3]</p>

<p>This biology thesis of _ _ _ _ expression is _ _ _ _.(?)[3][5]</p>

<p>I _ _ _ _ _ _ to sweep these fallen _ _ _ _ _ _.(?)[6][7]</p>

<p>He has been here _ _ _ _ _ ten years ago, and _ _ _ _ _ is familiar to this place. (?)[8][10]</p>

<p>The _ _ _ _ _ _ gives a wonderful concert, she is really a _ _ _ _ _ star!(?)[9][11]</p>

<p>Today is _ _ _ _ _ _ _ _, happy _ _ _ _ _ _ _ _ to you!(?)[13][14]</p>

-----------------------------------------------------------------------------------------------------------------

**Colors**

an entrance or exit(?)

a tower(?)

a type of electronic devices(?)

a synonym for choose(?)

a keyword in C(?)

a type of dance(?)

-----------------------------------------------------------------------------------------------------------------

**(?)**

number of Alice (?) <br>
marginal(10)  <br>
number of Mattia Balossino (?)

the secret of psalm (?) <br>
unflawed(7) <br>
the number of chromosomes of humans(?)

date of tenth anniversary of miku(?) <br>
kayak(4) <br>
date of Jie Ke was defeated by AlphaGo (?) <br>
window coverings(8) <br>
(?):rise of an empire <br>

number of constellations(?) <br>
belly flop(4) <br>
remember(?) by kotaro uchikoshi

(?) Second Ride <br>
flicker(5) <br>
(?) Year Ache

(?) years by Christina Perri <br>
rubber(6) <br>
(?) miles by Hedy West

The (?) Musketeers <br>
intone(4) <br>
(?) men in a boat

The (?) Orange Pips <br>
deserter(7) <br>
The Sign of the (?)

(?) Angry men <br>
___ When September Ends(4 2 2) <br>
(?) deadly sins

-----------------------------------------------------------------------------------------------------------------

<div style="display: flex;">
    <div style="flex: 50%; padding: 10px;">
        <strong>(0?)</strong>
    </div>
    <div style="flex: 50%; padding: 10px;">
        A sequence of numbers
    </div>
</div>

<div style="display: flex;">
    <div style="flex: 50%; padding: 10px;">
        _ _ _ _ _ (?) _ ...
    </div>
    <div style="flex: 50%; padding: 10px;">
        (?)
    </div>
</div>

<div style="display: flex;">
    <div style="flex: 50%; padding: 10px;">
        _ _ _ _ (?) _ ...
    </div>
    <div style="flex: 50%; padding: 10px;">
        (?)
    </div>
</div>

<div style="display: flex;">
    <div style="flex: 50%; padding: 10px;">
        _ _ _ (?) _ _ ...
    </div>
    <div style="flex: 50%; padding: 10px;">
        (?)
    </div>
</div>

<div style="display: flex;">
    <div style="flex: 50%; padding: 10px;">
        _ (?) _ _ _ ...
    </div>
    <div style="flex: 50%; padding: 10px;">
        (?)
    </div>
</div>

<div style="display: flex;">
    <div style="flex: 50%; padding: 10px;">
        _ _ _ _ _ (?) ...
    </div>
    <div style="flex: 50%; padding: 10px;">
        (?)
    </div>
</div>

<div style="display: flex;">
    <div style="flex: 50%; padding: 10px;">
        _ _ _ _ (?) ...
    </div>
    <div style="flex: 50%; padding: 10px;">
        (?)
    </div>
</div>

-----------------------------------------------------------------------------------------------------------------

**(?)-(?)**

the eleventh value of tau function(?)[4]

the second taxicab number(?)[4]

the first difference place by calculating the π approching formula in 1910(?)[1]

the eighteenth of his primes(?)[2]

almost an integer(?)[1,12]

-----------------------------------------------------------------------------------------------------------------

**Prime Lexicon**

*Across*

1 from side to side

5 earned

6 related group

7 ___ mahal

8 (?) way to

10 (?) ledgers

*Down*

1 (?) of heaven

2 lower

3 (?) activity you are doing

4 still (?)

9 (?) time zone, for short

<img src="/static/puzzle_resources/r3q2.webp">

-----------------------------------------------------------------------------------------------------------------

**META**

These numbers... make a difference!

(?)(4)(3)

(?)(6)(1)

(?)(12)(11)

(?)(7)(5)

(?)(10)(9)

(?)(2)(8)

(?)

<button class="btn clipboard-button"></button>



{% endblock %}

