{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div class="notice_info">
  你可以在腾讯文档中打开本题的只读副本：
  <a href="https://docs.qq.com/sheet/DVmNXc2R2a2hSVk1a">https://docs.qq.com/sheet/DVmNXc2R2a2hSVk1a</a>
</div>

<div class="notice_info">
  本题有中间答案验证。
</div>

<div align="center">
  <img src="/static/puzzle_resources/r3q7-01.webp" style="height:40vw">
  <hr>
  <img src="/static/puzzle_resources/r3q7-02.webp" style="height:40vw">
  <hr>
  <img src="/static/puzzle_resources/r3q7-03.webp" style="height:40vw">
</div>

<button class="btn clipboard-button"></button>

{% endblock %}
