{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div align="center">
  <img src="/static/puzzle_resources/r3q8.png" style="height:40vw" alt="A traditional Japanese cuisine Konoe kanata may cook, where she will use shrimp, flour, etc. (4/7)
  Cherry blossom blooms in this season, so does Uehara ayumu. (4/6)
  Hanesaki ayano plays this sports. (6/9)
  Hikawa sayo and Hikawa hina have become _______ students this year. (7/12)
  Hoto moka will wear this if she take her little sister for a ride on a motorcycle. (5/6)
  In her school, Tennoji rina always play with this stray animal. (2/3)
  Mia Taylor played this instrument on a concert. (3/5)
  Misaka ______ is found by the esper abilities of Sisters (Misaka imoto). (6/7)
  Misaka mikoto have broken serveral this type of buildings in order to destroy a certain research plan. (2/10)
  Miyanaga teru got _______ed before the competition starts. (9/9)
  Miyashita ai loves to say puns to her ____. (3/4)
  Nakasu kasumi got a very low ______ in her final test. (3/6)
  Omae kumiko plays in a band of this type. (6/9)
  Osaka shizuku may act this in the drama club if they are going to run a haunted house. (3/6)
  Shirai kuroko uses _______ mechanics and String theory to explain her Esper Abilities. (7/7)
  Sofy Twilight is a _______. (6/7)
  Takasaki yu is ____. (-/3)
  The color represents Emma Verde and the nature. (5/5)
  The creature drawn by Kouzuki mahiru on a wall. (5/9)
  The instrument played by PAREO (a.k.a. Nyubara reona). (2/8)
  The instrument similar with marimba, which Kamaya tsubame are good with. (6/9)
  The student union that Mifune shioriko need to process these every day. (9/9)
  There is a song of Daiba nana that references _______ baroque. (6/10)
  When Asaka karin get lost, she would refer to this. (3/3)
  Yuki setsuna loves to watch this. (3/5)
  Zhong lanzhu is fluent in Chinese, Japanese, and this language. (3/7)">
  <p>(3 4'1 5)→(7)</p>
</div>

<button class="btn clipboard-button"></button>

{% endblock %}
