{% extends "puzzle.html" %}
{% block puzzle-body-md %}

你走你的阳关道，我过我的独木桥。
{: .flavor}

<div align="center">
  <p>示例</p>
  <img src="/static/puzzle_resources/r3q9-01.webp" style="height:20vw">
  <img src="/static/puzzle_resources/r3q9-02.webp" style="height:20vw">
  <p>原版数桥规则（仅供参考）：<a href="https://pzplus.tck.mn/rules.html?hashi">https://pzplus.tck.mn/rules.html?hashi</a></p>
  <p>桥不可以经过其他岛屿所在格，但是可以接触其顶点。</p>
</div>

<hr>

<div align="center">
  <p>题目</p>
  <p style="color: lightgray; font-style: italic;">点击题目图片以在网页中打开</p>
  <a href="https://swaroopg92.github.io/penpa-edit/#m=solve&p=zZTBjps8EMfvPEXlsw8YCAscKqXbppd0235NtVqhKCIJu4uWxFsD3RVR9pn6DH2ynRloYxs+qT20qhxGkx/2zNj4P9WXJlM5j2H4EXe5gOFHLj1RgD+3H4uiLvPkBZ829a1U4HD+fjbj11lZ5U7az1o6KfMZZ4Ke5VM7fyLgL51D+19yaFdJujzy9vPJjU7up+QA9iI5MC9mSYpRQorDme8hgEg/QYDA00CI4GXsfv/GYBMsRBhE1rLADjw5s2aENEMDZ74FItdKHQkEoQZoiZYlsquNKW1wAsKlINoa4VLxE51QbToR9rkIYacSwt6z8OwdiO709Dg+ZdcrDMxV8KkEfbArsjOyHtkFfE/e+mRfk3XJTsjOac4bspdkz8kGZEOac4Y3wnFSL6IrqY/Jv0XgysPlZpUsV1WjrrNNzhISBSe2b3brXBmolPK+LPbmvOJmL1U++gphvr0Zm7+WamtFf8jK0gCdxA20KdSmNFGtCuN/ppR8MMguq28NsM5qaAnVbXFvRsr3tVlAnZklZneZlW132vPRYY+MntSH8w2wc8RJO+Xt2+6G/mguvP0IreNd0s6xc6QMVE+Xq284eMPo1nvgXtJ79M47KFzwLzrV4rIrcLtTWc078iFJ2wVnmOcVrUaX7eRXKJRC0P+N3K1hKynTDqN7UzVbedf0cwWqZfpL5aLblYueXW6/nz9cbrw8dp/B/a22/Rc6wmMvNalG1QZ4RHBAR4XV84G2gA9UhAmHQgI6oiWgtpwADRUFcCAqYP+jK4xqSwurstWFqQYCw1S6xqBnkfcM"><img src="/static/puzzle_resources/r3q9-03.webp" style="height:20vw"></a>
  <a href="https://swaroopg92.github.io/penpa-edit/#m=solve&p=zZTPbptOEMfvPEW15z2wLMbAzU3rXlz3z89VFCHLwjaJUbBJ+dNEWM799yC99xn6KH2SzMySZFlopR5aVZjR+MMwM7vsd8rPdVwkPIBL+tzmAi7p23T7Lv7s9lqkVZaEL/ikrnZ5AQ7n76ZTfhlnZWJFbdTSiphknAm6l/fN7J6AXFrH5mN4bFZhtDzx5tOz6z+7/4VHsPPwyJyAhRFzGfcoD2fSNoGDwNGARACFn4CH4Mf/XwP7+zcG62IeYlcghp4e41yqpb04GhsRnlnc60X4Rg6f2tMifGpPBy6CsQao35EGzKQB5dDWLGzqTMsqbMqi9SpsSuNpRFBpPU9vN4WkGK0bIUdmLbXDei1JtZ7ywNcU9E0vyE7JOmQX8Ml5I8m+ImuTHZGdUcxrsudkz8i6ZD2KGeOhsazI8enU6tfo3yKgCjj/rMyzVVkXl/EmYSHphhM71Pt1UnRQluc3WXroxqVXh7xIBh8hTLZXQ/HrvNga2W/jLOsANQU6aJMWm6yLqiLt/I+LIr/tkH1c7TpgHVcwNcpdetPNlByqbgNV3G0xvo6NavvnNZ8sdsfojiTsr4vDJQibCW/eqBP6OH948wGmy9uwmeNwiRhMATpc7UzCE0YCc8A9p+fonSkobPDnSjr42gW4aldWM0Xeh1Gz4AzrvKS30WX7/As0Sino/ybfr2EpEdM2Qz0p621+XbexAtUyUe3Oft0uuqpd9Mx22/X84XaD5Ul9Bvu3JvtfmAh3rdTyYlBtgAcEB3RQWC3vaQt4T0VYsC8koANaAmrKCVBfUQB7ogL2E11hVlNa2JWpLizVExiW0jUGM4u8Bw=="><img src="/static/puzzle_resources/r3q9-04.webp" style="height:20vw"></a>
  <a href="https://swaroopg92.github.io/penpa-edit/#m=solve&p=zZTNbptAEMfvPEW15z2wLCaYQ6U0jXtJ06ZxFUXIsrBNYhRsUj6aCMt5pj5Dnywzs7jeXeihh1YVZjT+MTszC/uf6luTlCkfwyVD7nIBlwxdukMff253TbM6T6M3/LSp10UJDuefJhN+l+RV6sRd1MyJmWScCbpnL+31S8wYFzNn136Jdu08imd73n49uuHRvY52YC+jHZMui2LmMR5QGs6kb4MAwdvA/fkD0nMWIPQFQqh/iPLH1rLRiQUCqhRogJZoOU48G1AvsMMDCO2yIS3RqoQSQagBan+kgdDKMaZOfQ1QhFZWuHYS4dIiI8bejhDUrR7jUXfaOxDS3rOQFGOQUY/0qkvq+deLgK8r6Bvfkp2Q9chO4QjwVpJ9T9YlOyJ7QTHnZG/InpH1yQYUc4KHyHFiL6RDrF+j/4uASEAPrCryedWUd8kyZRHJiBPbNptFWhooL4rHPNuacdn9tijTwUcI09X9UPyiKFdW9qckzw2ghoKBllm5zE1Ul5nxPynL4skgm6ReG2CR1DBEqnX2aGZKt7XZQJ2YLSYPiVVtc9zz3mHPjO5Ywvv1cdiMo/aKtx/UCT2MI95ewbT5GLWXOGzUYMLDRYfWA/f86N7Qc/TOFBQu+JdKKLjsFlz1VuYXinyO4nbKGdZ5R6vRZZviOzRKKej/stgsYCsx016GelI1q+Kh6WIFquVUtXs90K48touuahc9u91uP3+53fFsrz6D+0eT/h9MhOdOakU5qDbAA4IDOiisjve0BbynIizYFxLQAS0BteUEqK8ogD1RAfuNrjCrLS3sylYXluoJDEvpGoOZRd4r"><img src="/static/puzzle_resources/r3q9-05.webp" style="height:20vw"></a>
</div>

<button class="btn clipboard-button"></button>

{% endblock %}
