{% extends "solution.html" %}
{% block puzzle-author %}
Wonderepublic
{% endblock %}
{% block solution-body-md %}

将所有的小题答案填入15格的稿纸中会发现他们能够形成一个15×15的方阵。结合ft中的“字里行间”和观察可以发现在方阵中有数个顶点字母均相同的3×3方阵，并且顶点字母分别为ABCD……按顶点字母顺序提取方阵中心字母，即可得到答案FAMILYMART。

<img src="/static/puzzle_resources/s-fm.png" style="height: 40vh;">

{% endblock %}
{% block author-notes-md %}
FamilyMart这个答案其实很早就半开玩笑地提出来了，但一直没有一个比较合适的点子来作为FM，这也导致出题进度一直停滞。直到线下开了一次讨论会，头脑风暴了几轮之后最终提出了这个在方阵里埋小区域的想法，大家都很喜欢，于是就敲定了这个方案。

选择FamilyMart作为答案的原因有二：一是FamilyMart是Final Meta的acronym，二是在复旦大学邯郸校区这块不大的区域内聚集了五六家全家便利店，这些24小时营业的全家是很多复旦的同学们独特的复旦记忆。在与毕业论文搏斗的日日夜夜里，全家自然也扮演了不可或缺的角色。希望大家能原谅我将FM答案设置为复旦相关梗的这一点小小的任性，也希望复旦的同学们会喜欢这个答案！
{% endblock %}