{% extends "solution.html" %}
{% block puzzle-author %}
Lithium
{% endblock %}
{% block solution-body-md %}
ft以及图片均指向国际单位制。观察本区的7个小题答案可以发现，小题答案的首字母构成了国际单位制的7个基本单位的缩写。将其填入图片当中，按照箭头方向分别提取数字对应的字母，可以得到答案EMOTION。具体对应关系如下：
<table>
<tr>
<th>小题答案</th>
<th>对应单位</th>
<th>index</th>
<th>提取</th>
</tr>
<tr>
<td>KENNY G</td>
<td>kg</td>
<td>2</td>
<td>E</td>
</tr>
<tr>
<td>MONARCH</td>
<td>m</td>
<td>1</td>
<td>M</td>
</tr>
<tr>
<td>SIRIMAVO</td>
<td>s</td>
<td>8</td>
<td>O</td>
</tr>
<tr>
<td>AVAILABILITY</td>
<td>A</td>
<td>11</td>
<td>T</td>
</tr>
<tr>
<td>KITSCH</td>
<td>K</td>
<td>2</td>
<td>I</td>
</tr>
<tr>
<td>MAP OF LA</td>
<td>mol</td>
<td>4</td>
<td>O</td>
</tr>
<tr>
<td>CHINA DAILY</td>
<td>cd</td>
<td>4</td>
<td>N</td>
</tr>
</table>
{% endblock %}
{% block author-notes-html %}
Wonderepublic：最早定下来的分区meta，在废案时期就已经讨论过这个idea，因此在现在这个方案确定之初就把SI作为主题之一了。国际单位制的主题也和论文写作相当契合！<br>
Lithium：唯一一个在线下讨论会上确定下来的meta。为了确定图片是否有官方版本花了一些时间，因为有大量的不知道哪里出现的图片，配色和顺序都有所不同。总之是在SI的官方文件里面截出来的图片。
{% endblock %}