{% extends "solution.html" %}

{% block puzzle-author %}
小大圣
{% endblock %}

{% block solution-body-md %}

由题名和ft（五角减掉一个角剩四个角），以及题目由四个一组的数字组成，可推断出本题是一道四角号码题。

查询这些四角号码对应的汉字可以发现，每个四角号码不一定只对应一个汉字，但是可以从中挑出一些汉字使得每行的四个汉字组成一个词。它们分别是：

|号码|字|号码|字|号码|字|号码|字|
|--|--|--|--|--|--|--|--|
|3230<sub>3</sub>|巡|2041<sub>7</sub>|航|7734<sub>1</sub>|导|1825<sub>6</sub>|弹|
|3080<sub>4</sub>|实|3611<sub>2</sub>|况|1790<sub>9</sub>|录|2723<sub>2</sub>|像|
|8025<sub>1</sub>|舞|4471<sub>7</sub>|艺|4780<sub>6</sub>|超|1865<sub>1</sub>|群|
|9010<sub>4</sub>|堂|9010<sub>4</sub>|堂|1010<sub>1</sub>|正|1010<sub>1</sub>|正|
|1825<sub>6</sub>|弹|9501<sub>0</sub>|性|2090<sub>3</sub>|系|9844<sub>0</sub>|数|

实际上四角号码有五个数，题目只给了四个数。所以我们提取没有给出的第五个数。每行提取出来的四个数可以组成一组四个数字，再次查询四角号码可得到本题的中间答案：

|号码|字|
|--|--|
|3716|洛|
|4292|杉|
|1761|矶|
|4411|地|
|6030|图|

提交洛杉矶地图可得到将答案翻译成(3 2 2)的英语的提示。所以本题答案为MAP OF LA。

{% endblock %}

{% block author-notes-html %}

半夜灵感突然爆发想到一个四角号码有五个的灵感以及和五角大楼的双关，就出了一道简单小题。

{% endblock %}