{% extends "solution.html" %}
{% block puzzle-author %}
Lithium
{% endblock %}
{% block solution-body-md %}
通过ft可以推断出每句话为不同学校的校训。提取校训对应的学校的英文，按照字母序排列，提取对应字母可以得到中间答案“Trashy art six”。解cluephase得到答案KITSCH。具体的校训及学校如下：
<h5>大学名称：</h5>
<ol>
<li>Central South University</li>
<li>Fudan University</li>
<li>Guizhou University</li>
<li>Jiangsu University</li>
<li>Ningbo University</li>
<li>Renmin University of China</li>
<li>Southeast University</li>
<li>Sun Yat-sen University</li>
<li>Tianjin University</li>
<li>Wuhan University</li>
<li>Xiamen University</li>
<li>Zhejiang University</li>
</ol>
{% endblock %}
{% block author-notes-html %}
各校的校训真是查重率很高呢。本来想用“饮水思源，爱国荣校”的，但是查重率略低了一点就没凑了。希望玩家做到自己学校的校训的时候能够有一点惊喜吧~最后的答案和校训主题也有一点契合。
{% endblock %}