{% extends "solution.html" %}
{% block puzzle-author %}
小汤圆
{% endblock %}
{% block solution-body-md %}
(视频解析请关注<a href="https://space.bilibili.com/2132917262">小汤圆的B站号</a>)

这是一个猜规则纸笔。

由于本题没有任何验证机制，玩家只能依赖所有初始给出的知识，运用逻辑推理与一定的数学直觉解题。在解题过程中，玩家会逐渐发掘所有符号/数字真正的含义。

由于题目数量过多，我将所有题目的解均放在了：<a href="https://docs.qq.com/sheet/DYmRUZ2pkeUtjYWtG?tab=BB08J2">【腾讯文档】A Rule-Explorer's Adventure SOLUTION</a>


在此给出预期思考路径：
##### A区：
新全局规则：黑白等价。即如果将解的所有黑格换为白格，所有白格换为黑格，解仍然满足要求。

新规则：外数字n：这一行/列颜色分为n段。

##### B区：
规则更新：外数字n：这一行/列格子共占据n个区域。

##### C区：
新规则：内数字n：所在区域与n个区域相邻。

##### D区：
新规则：星星⭐：不能与其他星星处于同一区域。

规则更新：内数字n：所在区域相邻的区域权重和为n。有星星的区域权重等于其面积，无星星区域权重等于1.

##### E区：
规则更新：外数字n：这一行（列）格子从左往右（从上往下）依次求权重和为n。区域权重等于区域面积的k次方，k等于依次求和过程中遇到的星星数量。

##### F区：
新规则：叉×：不能与其他×处于同一区域。（然而并没有出现包含两个×，所以这件事可以忽略）

规则更新：内数字n：求权重和时，×会将其所在区域权重变为其相反数。

规则更新：外数字n：求权重和时，×会将该区域与之后的所有区域权重变为原本的相反数。

##### Final区：
新规则：字母A~F：值等于A~F区每题黑白格数量差的绝对值之和。

最终解出Final区的3题象形得到答案AGE。

以及，标题首字母AREA暗示“区域”和“面积”。
{% endblock %}

{% block author-notes-md %}
本题又名From Chaoshou To Dumpling（FCTD）（从混沌到馄饨）（感谢xurui起名！），是From Muddled To Clean（FMTC）精神续作。

R.I.P. Jack Lance 愿天堂没有孬题

本题灵感来自于：

FMTC：提供了“双解”的初期构思，以及标题FCTD。（AREA这个标题是我自己想的）

Taiji/Bilattice：提供了“黑白染色”的基础逻辑。

Witless：一个机制与本题的内数字n机制相同。设计时并未参考，但后来发现机制一样。

本题是我出的第二个猜规则纸笔。（第一个是试验品，并不是很完善）设计过程十分艰辛，在给不下十个人测试过后，难度一削再削，将所有测试者卡关的地方都做了优化，包括但不限于：

- A区初始给出两题的四个解；
- B区前几题直接上矛盾；
- C区前四题找规律；
- D区前四题找规律……

充分意识到了，设计解谜游戏，你并不是想要难倒玩家，而是想让玩家解出谜题，并在一瞬间产生“Eureka”。

希望大家玩FCTD玩得开心！

敬请期待：AREA x WitCup
{% endblock %}