{% extends "solution.html" %}

{% block puzzle-author %}
Wonderepublic
{% endblock %}

{% block solution-body-md %}

解这些clue可以得到：

<table>
    <tr>
      <td>一种金属制品，也常用来比喻遇到棘手的问题</td>
      <td>铁板</td>
    </tr>
    <tr>
      <td>为了表现主要写作对象而提前做的基础性描写</td>
      <td>铺垫</td>
    </tr>
    <tr>
      <td>可以用来形容美人的嘴唇</td>
      <td>樱桃</td>
    </tr>
    <tr>
      <td>____、病菌与钢铁</td>
      <td>枪炮</td>
    </tr>
    <tr>
      <td>传说躲进螃蟹壳里的和尚</td>
      <td>法海</td>
    </tr>
    <tr>
      <td>将固体物质加热到高温以达到脱水、分解或除去挥发性杂质、烧去有机物等目的的操作</td>
      <td>灼烧</td>
    </tr>
    <tr>
      <td>将食物放入食用油中加热的过程</td>
      <td>油炸</td>
    </tr>
    <tr>
      <td>松树的叶子</td>
      <td>松针</td>
    </tr>
    <tr>
      <td>向系统发出清除登录的用户的请求</td>
      <td>注销</td>
    </tr>
    <tr>
      <td>一种室内取暖设备，一般砌于墙内</td>
      <td>壁炉</td>
    </tr>
    <tr>
      <td>TVB电视剧《再战明天》的片尾曲</td>
      <td>枷锁</td>
    </tr>
    <tr>
      <td>原指大火炉，后也被用来比喻陶冶和锻炼人的环境</td>
      <td>洪炉</td>
    </tr>
    <tr>
      <td>位于海岸、港口或河道，用以指引船只方向的建筑物</td>
      <td>灯塔</td>
    </tr>
    <tr>
      <td>出自《述异记》的著名典故，指岁月流逝，人事变迁。</td>
      <td>烂柯</td>
    </tr>
    <tr>
      <td>一点____竹里村，人家深闭雨中门</td>
      <td>炊烟</td>
    </tr>
    <tr>
      <td>复旦大学江湾校区所在的上海市区级行政区划</td>
      <td>杨浦</td>
    </tr>
    <tr>
      <td>煤炭开采时由于为了安全，采煤时在采面留下不采的部分</td>
      <td>煤柱</td>
    </tr>
    <tr>
      <td>古代的市政建筑或者标志建筑，一般设在城中心或府衙之前，提供时间提示</td>
      <td>钟楼</td>
    </tr>
    <tr>
      <td>杭州的古称</td>
      <td>钱塘</td>
    </tr>
  </table>
  

注意到这些clue答案均为带五行偏旁的词语，用棋盘密码提取得到**begin to fly four three**，由此得到最终答案**TAKE OFF**。

{% endblock %}

