{% extends "solution.html" %}

{% block puzzle-author %}
Wonderepublic
{% endblock %}

{% block solution-body-md %}

首先解出这些clue的答案（部分比较模糊的答案可以通过字典序进行确认）：

<table>
  <tr>
    <td>与实际情况很接近（5）</td>
    <td>八九不离十</td>
  </tr>
  <tr>
    <td>因直言进谏被纣王挖出心脏的臣子（2）</td>
    <td>比干</td>
  </tr>
  <tr>
    <td>也称相对密度，指一物质的密度与参考物质的密度的比值（2）</td>
    <td>比重</td>
  </tr>
  <tr>
    <td>《足球小将》的主人公（3）</td>
    <td>大空翼</td>
  </tr>
  <tr>
    <td>西湖著名景点，传说是一对情侣初次相会的地方（2）</td>
    <td>断桥</td>
  </tr>
  <tr>
    <td>山下英子提出的生活理念（3）</td>
    <td>断舍离</td>
  </tr>
  <tr>
    <td>甘地领导的反抗英国殖民统治的运动名称（6）</td>
    <td>非暴力不合作</td>
  </tr>
  <tr>
    <td>上海最好的大学（4）</td>
    <td>复旦大学</td>
  </tr>
  <tr>
    <td>如欧阳、诸葛、上官等（2）</td>
    <td>复姓</td>
  </tr>
  <tr>
    <td>篮球的技术统计数据之一，俗称“火锅”（2）</td>
    <td>盖帽</td>
  </tr>
  <tr>
    <td>指现在不是过去能比得上的（4）</td>
    <td>今非昔比</td>
  </tr>
  <tr>
    <td>办事情轻而易举，毫不费力（4）</td>
    <td>举手之劳</td>
  </tr>
  <tr>
    <td>奥运会项目之一，代表性的运动员有陈镜开，三宅义信等（2）</td>
    <td>举重</td>
  </tr>
  <tr>
    <td>回旋加速器的发明者（3）</td>
    <td>劳伦斯</td>
  </tr>
  <tr>
    <td>新中国第一位获得“人民艺术家”称号的作家（2）</td>
    <td>老舍</td>
  </tr>
  <tr>
    <td>虚拟力的一种（3）</td>
    <td>离心力</td>
  </tr>
  <tr>
    <td>泰晤士河上的地标性建筑（4）</td>
    <td>伦敦塔桥</td>
  </tr>
  <tr>
    <td>功率单位，约等于735瓦特（2）</td>
    <td>马力</td>
  </tr>
  <tr>
    <td>本题的提取方法（2）</td>
    <td>？</td>
  </tr>
  <tr>
    <td>抗日战争期间对日军使用的三八式步枪的俗称（4）</td>
    <td>三八大盖</td>
  </tr>
  <tr>
    <td>摩西向以色列民族颁布的规定与行动准则（2）</td>
    <td>十诫</td>
  </tr>
  <tr>
    <td>一种常见的屏幕长宽比，近年来逐渐被十六比九取代（3）</td>
    <td>四比三</td>
  </tr>
  <tr>
    <td>中国唯一一个名字中包含数字的省级行政区（2）</td>
    <td>四川</td>
  </tr>
  <tr>
    <td>机身为塔架式结构的全回转动臂架式起重机（2）</td>
    <td>塔吊</td>
  </tr>
  <tr>
    <td>加入非法团体时表示忠心的保证书（3）</td>
    <td>投名状</td>
  </tr>
  <tr>
    <td>事情既然做了开头，就索性做到底。包含两个数字（6）</td>
    <td>一不做二不休</td>
  </tr>
  <tr>
    <td>宁夏回族自治区的首府（2）</td>
    <td>银川</td>
  </tr>
  <tr>
    <td>改编自《仿生人会梦见电子羊吗？》的经典科幻电影（4）</td>
    <td>银翼杀手</td>
  </tr>
  <tr>
    <td>出卖耶稣的门徒（2）</td>
    <td>犹大</td>
  </tr>
  <tr>
    <td>公开称呼当事人姓名（4）</td>
    <td>指名道姓</td>
  </tr>
</table>

注意到在答案中有不少重复的用字，结合ft描述可以猜测需要将所有的答案组建成一个填字游戏网格，在构建网格时，部分无法确定的clue答案和“提取方式”也可以根据网格来判断，在常见的古典密码中，只有“摩斯”能够参与构建网格。同时ft两句话开头的“模”和“似”也可作为暗示辅助确认这一点。由此我们可以得到最终盘面：

<img src="/static/puzzle_resources/s-r2q9.png" width="80%" height="auto">

沿着与“摩斯”相同的方向依次用摩斯密码阅读黑格（一格为·，两格为-），即可得到最终答案**JEJU ISLAND**。


{% endblock %}

{% block author-notes-html %}
最早给这次hunt准备的思路之一，来源是在一次洗澡时冒出的“反向构建一个crossword”的想法，中文crossword没有英文crossword那么强的对称性要求也使得摩斯提取成为可能。选中合适的答案之后出题并没有花费太多时间。
{% endblock %}