{% extends "solution.html" %}
{% block puzzle-author %}
Lithium
{% endblock %}
{% block solution-body-md %}
ft中的“复旦”都有的东西为“日”字。将每个小题的答案翻译成中文，可以发现每个小题的答案都有一个字含有“日”字。新的元素指的是emoji所对应的偏旁部首。按照ft的指示，去掉小题答案中含有“日”的字中“日”的部分，加上emoji代表的偏旁部首，可以组成一个新字。可以发现，组成的新字在另外一个题目的导师评语中出现，并且原答案的英文长度与新字所在的导师评语长度相同，因此提取原答案中对应新字所在位置的字母。以此类推，可以将所有小题按照“翻译→去‘日’→组成新字→对应另外一题的导师评语→提取→翻译另外一题的答案”的顺序构成一个环。环的起始点已经给出，按照环的顺序得到答案SLEEP ALL DAY。具体如下：
<table>
<tr>
<th>题序</th>
<th>题目</th>
<th>答案</th>
<th>答案翻译</th>
<th>emoji</th>
<th>emoji对应偏旁部首</th>
<th>新字</th>
<th>对应导师评语</th>
<th>提取</th>
</tr>
<tr>
<td>3-10</td>
<td>植物大战僵尸</td>
<td>WHITE HOUSE</td>
<td>白宫</td>
<td>👁️</td>
<td>目</td>
<td>自</td>
<td>无视章法只会害了自己</td>
<td>S</td>
</tr>
<tr>
<td>3-9</td>
<td>违章建筑</td>
<td>SYLLABLE</td>
<td>音节</td>
<td>🧑</td>
<td>单人旁</td>
<td>位</td>
<td>道具位置非常重要</td>
<td>L</td>
</tr>
<tr>
<td>3-4</td>
<td>同类四消</td>
<td>JUPITER</td>
<td>木星</td>
<td>🌙</td>
<td>月字旁</td>
<td>胜</td>
<td>回忆起母校胜景</td>
<td>E</td>
</tr>
<tr>
<td>3-11</td>
<td>忆往昔</td>
<td>YESTERDAY</td>
<td>昨天</td>
<td>👄</td>
<td>口</td>
<td>咋</td>
<td>这咋能加入新的百合</td>
<td>E</td>
</tr>
<tr>
<td>3-8</td>
<td>盛开的百合花</td>
<td>MAPPING</td>
<td>映射</td>
<td>🌿</td>
<td>草字头（草）</td>
<td>英</td>
<td>学习英语要用功</td>
<td>P</td>
</tr>
<tr>
<td>3-5</td>
<td>找啊找朋友</td>
<td>TRADE</td>
<td>贸易</td>
<td>❤︎</td>
<td>心</td>
<td>忽</td>
<td>别疏忽大意</td>
<td>A</td>
</tr>
<tr>
<td>3-1</td>
<td>Self-Reference</td>
<td>OLD EDITION</td>
<td>旧版</td>
<td>🏹</td>
<td>弓</td>
<td>引</td>
<td>索引给出来的话会更好</td>
<td>L</td>
</tr>
<tr>
<td>3-6</td>
<td>文件谜</td>
<td>DEPTH OF FIELD</td>
<td>景深</td>
<td>🧊</td>
<td>两点水（冰）</td>
<td>凉</td>
<td>这么多数让人感到一阵凉意</td>
<td>L</td>
</tr>
<tr>
<td>3-2</td>
<td>洪水</td>
<td>DROUGHT</td>
<td>干旱</td>
<td>💧</td>
<td>三点水（水）</td>
<td>汗</td>
<td>汗流浃背的某神</td>
<td>D</td>
</tr>
<tr>
<td>3-3</td>
<td>谜题扭蛋</td>
<td>NINJA</td>
<td>忍者</td>
<td>🗡︎</td>
<td>匕</td>
<td>老</td>
<td>从小玩到老</td>
<td>A</td>
</tr>
<tr>
<td>3-7</td>
<td>《纽约时报》天天玩</td>
<td>HUNDRED EYES</td>
<td>百眼</td>
<td>🐚</td>
<td>贝</td>
<td>页</td>
<td>能否做出植物选择页面呢</td>
<td>Y</td>
</tr>
</table>
{% endblock %}
{% block author-notes-html %}
Lithium：Inequality提出来的复旦都有“日”，可以进行wordplay。Wonderepublic凑出来的小题答案和变换的字。我设定了整体的题目的架构，凑了导师评语和写了ft。感谢小汤圆对这道题目的测试以及大量的细节修改，如提出需要起始点、修改了环的方向、改进了ft、修改了导师评语，让这道题目完善了很多。
{% endblock %}