{% extends "solution.html" %}

{% block puzzle-author %}
Inequality
{% endblock %}

{% block solution-body-md %}
本题为普通的ISIS题目。通过搜索线索可以发现这些都是复旦大学每年毕业mv中的一句歌词，但是都改变了其中一个字。我们按照年份排序，index正确字的拼音可以得到下表：

| 年份 | 题目中的歌词                   | 原版                           | index | 提取 |
|------|--------------------------------|--------------------------------|-------|------|
| 12   | 那是我睡了四年不愿醒来的梦啊   | 那是我做了四年不愿醒来的梦啊   | 3     | o    |
| 13   | 一个少年已离开家               | 一个少年刚离开家               | 3     | n    |
| 14   | 你们都留下但只别了我           | 你们都留下却只别了我           | 3     | e    |
| 15   | 侥幸着要去晨练                 | 侥幸着要去晨锻                 | 1     | d    |
| 16   | 像来时经过校园                 | 像来时穿过校园                 | 4     | a    |
| 17   | 和那年同样的盛夏               | 和那年一样的盛夏               | 1     | y    |
| 18   | 再看一眼就背上行囊             | 再瞄一眼就背上行囊             | 2     | a    |
| 19   | 做一个年少的梦                 | 做一场年少的梦                 | 5     | g    |
| 20   | 文定路问方向 离南区路太长      | 国定路问方向 离南区路太长      | 3     | o    |
| 21   | 天微亮 论文停在致谢页 又是分别 | 天微亮 论文停在致谢页 又是临别 | 3     | n    |
| 22   | 曾经似尘飘散 青春如星光        | 曾经似尘飘散 青春如星海        | 3     | i    |
| 23   | 我总在眺望 之后发觉            | 我总在眺望 之后发现            | 4     | n    |
| 24   | 和毛像说句再见                 | 和毛像说声再见                 | 3     | e    |

得到中间答案**one day ago nine**，因此答案为**YESTERDAY**。
{% endblock %}


{% block author-notes-html %}
最早在头脑风暴的时候就有拿毕业mv出题的点子，但是大家都没有比较好的实现方法。最后笔者看了一下午mv凑出来了这道题目。作为最后一道题目非常适合这个答案，难度也不太高。
{% endblock %}