{% extends "solution.html" %}

{% block puzzle-author %}
amway
{% endblock %}

{% block solution-body-md %}
本题需从各小题中分别提取出一个字母组成最终答案，观察ft可知，需提取抽不出来的角色/字符（character）。各小题解答依次为：

##### 错乱诗
这些结果都是按照某句诗各字的汉字结构、笔画分布抽取，比如第一个字是左右结构的15笔字，我们需要辨认出原诗句是什么。踏破铁鞋无觅处，得来全不费工夫。提取“工”，象形字母I。
##### 高斯钟
本题依次以某单词的各字母为中心，在近似正态分布下进行采样。如下图为以字母为M为中心采样10000次的结果（sigma=3，本题sigma=1.5）。

<img src="/static/puzzle_resources/s-r3q3-01.png">

本质上找到各位最高频次出现的字母即可，得到OACKPOT，实际应为JACKPOT，提取J。
##### 观测窗
把所有观测拼凑起来得SAMPLI_G，提取N。
##### 概率数
统计出每个数字出现的概率（百分比），概率A1Z26转字母，按数字顺序排序，得FREQUE?CY，提取N。
##### 多频段
经过多次抽样，进行字母出现频率统计，按照从低频到高频排序（这与最终答案排序一致），可以（近似地）得到UNCOPYRIGHTBLE，UNCOPYRIGHTABLE是一个heterogram，即每个字母最多出现1次，这里提取遗失的字母A。
##### 最终答案
ft中已给出排序，即从老版本到新版本，结合题中注释小字（新版本抽取概率大于老版本），可知是按照各小题抽取概率从低到高排序，得最终答案NINJA。

{% endblock %}

{% block author-notes-md %}
早些时候有用字频隐写信息的想法（如小题《多频段》那样），之后又有了用概率作为排序、用概率转字母（A1Z26）的想法，这些想法共同派生出了这道题。

期间还有过在更小的概率空间（如原来的1%）中加入二阶段的想法，解开一阶段后加上“抽取1000次”按钮，但由于好点子不足抛弃了该想法。

## funfact：
<img src="/static/puzzle_resources/s-r3q3-02.png">

{% endblock %}