{% extends "solution.html" %}

{% block puzzle-author %}
小大圣
{% endblock %}

{% block solution-body-md %}

本题为文件谜。解压zip文件之后会得到一个嵌套结构，最外层文件夹名称为“1”，其内部包含了一个名为“2”的文件夹和一个名为“第一题 \_\_\[\_\]\_.mid”的文件。之后以此类推，共16道小题。文件名称即表示了该小题答案的长度和需提取哪个字母。下面逐个解析。

### 第一题 (3/4).mid

第一题为一个midi文件。使用五线谱软件打开，或者使用瀑布可视化软件，或者肉耳听音高均可。得出的是如下的谱面：

<img src="/static/puzzle_resources/s-r3q6-01.webp" style="height: 60vh;">

将谱面画在方格上，有音符的地方涂黑，可以得到：FISH卢FISH。即：鲈鱼，答案为BASS。提取S。

值得注意的是BASS同时有贝斯的含义，与本题是音乐题相关。

### 第二题 (2/4).png

第二题为一张图片：

<img src="/static/puzzle_resources/s-r3q6-02.webp">

图片包含1.19.2的minecraft版本，一些物品，以及一些以ABCD为占位符的合成表。在每个合成表里，如果我们将A认为是一种物品，B是另一种，则这些都是minecraft中比较常见的合成表，有一些例如活塞、蛋糕、侦测器等可以一眼看出。

再观察到蛋糕的所有原材料在上方物品栏中都有（牛奶，小麦，糖，鸡蛋），且成比例，刚好可以合成18个蛋糕。由此猜测本题需要将上方物品栏中的物品放入下方的合成表进行合成。此处一个不重要的观察是所有物品均以字典序排列，所有合成表亦以字典序排列（按：空ABCD的字母顺序）。

但是并不是所有的合成表摆放形式都是唯一的，例如镐和剑可以是木的、石的、铁的。但是由于每个物品都合成整数个，没有二级合成，并且会使用掉上面全部的物品。由此可以得出唯一解：

|合成物品|个数|合成物品|个数|合成物品|个数|
|--|--|--|--|--|--|
|黄色染料 <br> Yellow Dye|5|拉杆 <br> Lever|15|花盆 <br> Flower Pot|20|
|矿车 <br> Minecart|6|红石中继器 <br> Redstone Repeater|5|木剑 <br> Wooden Sword|13|
|灵魂营火 <br> Soul Campfire|14|弓 <br> Bow|9|漏斗 <br> Hopper|1|
|下界砖 <br> Nether Brick|7|盔甲架 <br> Armor Stand|6|铁镐 <br> Iron Pickaxe|12|
|唱片机 <br> Jukebox|6|阳光探测器 <br> Daylight Detector|19|侦测器 <br> Observer|1|
|活塞 <br> Piston|13|蛋糕 <br> Cake|18|TNT|1|
|砂轮 <br> Grindstone|8| | | | |            

注意到每个物品的首字母均不同。将物品按首字母排列之后，将个数A1Z26即可得到：first half of game name，游戏名称的前一半，即MINE。提取I。此处MINECRAFT中的MINE可以解释为挖矿。

### 第三题 (3/6).html

本题为一个puzzlescript网页游戏。游戏没有特殊规则，就是普通推箱子，共有六关。标题界面提示本题需要trans ans to eng，即需要将答案翻译成英文。但是推箱子结束之后并没有给通关答案。注意到其中第三关很特殊，一步就可以完成，结合其余关卡均不难，可以想到本题需要提取最优步数。将每关的最优步数A1Z26即可得到：QUANJI，翻译成英语即为答案：BOXING。提取X。

值得注意的是BOX的另一个含义即为本题游戏的形式：箱子。

### 第四题 (6/6).exe

本题为一个几何画板exe。打开之后，前两页为几何画板3D工具教程，指示玩家只需要将3D画面水平旋转与垂直旋转。以及介绍了工具中使用短斜线表示点，短斜线的斜率为点的z坐标。后四页中，每个页面里有一些点，玩家可以将3D画面旋转。

在旋转到某些角度时，小斜线可以拼成字母。四个页面拼出的字母分别是Qiyu，即旗语。并且拼出字母时，水平角度和垂直角度均为45度的倍数。这提示我们提取两个角度的旗语，得到答案TIJI，体积，即VOLUME。提取E。

### 第五题 (1/5).xlsx

本题为一个excel表格，提示玩家将底下绿色背景的灯泡复制到上面的版面。玩家复制上去之后会发现这是纸笔谜题Akari的规则：灯泡可以照亮横竖方向，并且会被黑砖挡住。灯泡之间如果互相被照到即会变红，表示这是禁止的。有些黑砖上带有数字，表示相邻4格中有几格有灯泡，规则满足后数字会从红变白。解出这个谜题之后，可以在右侧版面中提取出：ELECTROMAGNETIC WAVE，电磁波，即光，LIGHT。提取L。

<img src="/static/puzzle_resources/s-r3q6-03.webp" style="height: 60vh;">

### 第六题 (3/5).pdf

本题为五道物理题。

<img src="/static/puzzle_resources/s-r3q6-04.webp">

五道题目的答案分别为：1库伦，2亨利，3安培，4牛顿，0.005千克。即1 C，2 H，3 A，4 N，5 g。所以答案为CHANG，场，翻译成英文后是FIELD。提取E。

这道题有意思的地方在于每个小题都是几乎不可能实现的数值组合。例如长3km的桌子，质量为4kg的人，10^4 m/s却要忽略重力的粒子。

### 第七题 (1/6).mp3

本题为一个相声。相声为报菜名的改编。可以听到，相声里说，上菜按顺序分为十种分类（如凉菜，炒菜等），但是每种分类内却并不是该分类的正常菜品，而是全篇按照原版报菜名的顺序。而且菜分为一个一组和三个一组一起上。将上菜内容记录下来为：

|分类| |  |  |  |
|--|--|--|--|--|
|冷盘|蒸羊羔|蒸熊掌|蒸鹿尾儿| |
|炒菜|烧花鸭、烧雏鸡、烧子鹅|卤猪、卤鸭、酱鸡|腊肉、松花、小肚儿| |
|主菜|晾肉|香肠儿|什锦苏盘儿、熏鸡白肚儿、清蒸八宝猪| |
|炖菜|江米酿鸭子，罐儿野鸡、罐儿鹌鹑|卤什件儿| | |
|海鲜|卤子鹅、山鸡、兔脯|菜蟒|银鱼| |
|素菜|清蒸哈士蟆|烩腰丝、烩鸭腰、烩鸭条|清蒸鸭丝儿|黄心管儿|
|汤类|焖白鳝| | | |
|主食|焖黄鳝|豆豉鲶鱼|锅烧鲤鱼|锅烧鲶鱼、清蒸甲鱼、抓炒鲤鱼|
|点心|抓炒对虾| | | |
|水果|软炸里脊|软炸鸡、什锦套肠儿、麻酥油卷儿|卤煮寒鸦儿|熘鲜蘑|

由此可以看出，这是摩斯密码，一组一个的为点，一组三个的为杠。翻译之后为SOUND LEVEL。答案为VOLUME。提取V。

### 第八题 (4/4).exe

本题为一个蜘蛛纸牌游戏。打开界面可以看到经典蜘蛛纸牌的牌堆，点击新游戏之后可以看到本游戏纸牌和标准纸牌不一样。花色共有天地人三种，点数从小到大分别为风火林山阴雷。当玩家按蜘蛛纸牌规则收走所有牌后，会发现剩余五张不成一组的，这五张是花色为地点数为风至阴的五张。也就是本游戏缺少一张花色为地点数为雷的卡。提取地雷，答案为MINE。提取E。

### 第九题 (6/9).png

本题为一个日谜。

<img src="/static/puzzle_resources/s-r3q6-05.webp">

春夏秋冬各有三个左右结构的字，按图中的提取顺序寻找两两之间相同的部分组合即可得到答案：调味料，即SEASONING。提取N。

值得注意的是SEASON与四季双关。

### 第十题 (1/5).mp4

本题为一个视频。视频中出现了一些圆圈，线，数字，以及顶部有《数回》的名称与标准数回的规则。视频中总共出现三次比较丰富的画面，每次有3x3的一些圆圈，其中一部分包含字母，圆圈之间由虚线连接，组成2x2的格子，某些格子里有1至3的数字。这都是标准数回里会出现的元素。

通过观察可以发现，字母出现之前，圆圈会首先从一个点开始快速变大，之后速度慢慢变缓，在几乎达到最大的时候，字母出现，之后以完全相反的过程缩小（先慢速缩小然后越来越快），以及三次画面中间的间隔里，字母原本所在的位置有一闪一闪的黑点。原本虚线（边）所在的位置有黑点在运动。我们可以猜测，字母出现的位置很可能是一个球体，字母之间很可能也是通过第三维上的虚线相连。这都提示我们这是一个三维谜题，视频是这个三维物体从上到下的切片。

我们可以将这个三维谜题组合，并通过黑点的运动模式识别出其中竖直放置的数字。并且我们还可以从正中心识别出一个箭头：正中心向上的方向的虚线在出现之前和之后分别有一个黑点在运动。解出这个三维数回后，依据这个箭头提取回路上的字母，得到BORDER OF A PICTURE（由于回路略长，每两个单词之间存在两个空格）。得到答案FRAME（框架），提取F。

值得注意的是FRAME同时有帧的含义，与本题是视频题相关。

<img src="/static/puzzle_resources/s-r3q6-06.webp" style="height: 60vh;">

### 第十一题 (2/5).exe

本题也是一个几何画板题。

打开之后，玩家可以看到屏幕上是全空的。使用右键：显示所有隐藏可以得到一条提示：

<img src="/static/puzzle_resources/s-r3q6-07.webp" style="height: 15vh;">

打开自定义工具，里面包含左1至左4和右1至右2，一共六个小工具。使用它们会发现，每个小工具都是接受四个点，并生成一个按钮。按下按钮乍一看不会有任何效果，但是如果我们在按下按钮之前选中了一个点，或者将其中的几个点右键：显示标签，或者将其中几个点连了线，我们就会发现，按钮的作用是对四个点中的几个进行交换。

如果我们将四个点按使用小工具时选择的顺序分别标为1234的话，就可以对每个小工具进行康托提取。提取后，得到左：SOIL，右：OR。土和或可以拼成一个域，答案即为FIELD。值得注意的是FIELD所属的数学领域：抽象代数，与本题涉及到的交换（群）有关。

### 第十二题 (1/7).exe

本题为一个exe，打开之后可以看到四个示例页面和两个试题页面：

<img src="/static/puzzle_resources/s-r3q6-08.webp">

点击随机可以随机生成一些小球，点击开始可以让时间走动，并且可以看到小球以其指示的速度直线运动。但是小球之间会有不同的碰撞规则。本题内容即为让玩家通过随机生成的小球推理小球的特殊规则，然后模拟试题中小球的运动。这里由于是随机的，所以示例中小球体积很大。试题中则给出了网格格点方便推演。

共有红绿蓝黑四种颜色的小球以及橙色的线。所有运动规则为：

1. 绿色小球不记录轨迹，红蓝黑三色小球均记录轨迹。
2. 红色小球与红色小球碰撞时会双双消失。红色小球与绿色小球碰撞时会交换速度，这个交换无视碰撞角度。其余所有组合的小球都不会碰撞而是直接穿过。
3. 蓝色小球每隔1时间会向运动方向的垂直左手方向发射一个速度大小固定为1的红色小球。
4. 黑色小球在开始时刻会向正下方发射一个速度大小固定为1的绿色小球。
5. 红蓝黑三色小球碰到橙色线会消失，绿色小球则不会。

玩家通过这些规则可以在纸上推演小球的轨迹。这里使用程序直接模拟：

<img src="/static/puzzle_resources/s-r3q6-09.webp">

<img src="/static/puzzle_resources/s-r3q6-10.webp">

当然，本程序由C#编写，两个试题页面中设置了不可运行的限制，玩家也可以通过反编译C#然后解除此限制直接进行模拟得到答案。

答案为力迫，即FORCING。提取F。

值得注意的是，力迫（forcing）是数学领域中集合论里的术语。而force的另一个含义（力）与本题是物理题有关。

### 第十三题 (5/5).png

本题为一个日谜。

<img src="/static/puzzle_resources/s-r3q6-11.webp">

将例题中的假名转换成片假名后可以发现，直接可以拼成“积”字。由此可得答案：轻，即LIGHT。提取T。

### 第十四题 (6/6).zip

本题为一个压缩包。

解压压缩包之后，可以看到嵌套的3层文件夹，每一层名字都有0 1 2，并且其中缺失了0/0/0文件夹。这可以联想到三进制加密。

并且在一些文件夹中，有名为1，扩展名不同的空文件。这样的文件共有13个，且扩展名首字母为a至m。如果我们把每个文件的位置用三进制解密，然后把解密后的字母按照文件的扩展名首字母排序，可以得到CIPANJUANBIAO，磁盘卷标。故答案为VOLUME，提取E。

### 第十五题 (3/5).mp4

本题为一个定格动画。

此定格动画共有四幕，每一幕都有一个小猪的出现。结尾花絮中也有几只小猪在猪圈里的提示。我们可以在小猪出现的每一幕中找到一个类似猪圈密码的形状：

<img src="/static/puzzle_resources/s-r3q6-12.webp">
<img src="/static/puzzle_resources/s-r3q6-13.webp">
<img src="/static/puzzle_resources/s-r3q6-14.webp">
<img src="/static/puzzle_resources/s-r3q6-15.webp">

提取这些猪圈密码得到TIAN，田。故答案为FIELD（田径运动中的田）。提取E。

### 第十六题 (1/4).png

本题为一个日谜。

<img src="/static/puzzle_resources/s-r3q6-16.webp" style="height: 60vh;">

第一行的本题指代这道题本身，由于这道题是文件夹嵌套中最里层的题，故黑边红方块代表文件夹。

后两行分别为乌巢和鸟巢，其中黑边红方块为文件夹形状的象形。故问号方块为巢，答案为NEST。提取N。值得注意的是，NEST的另一个含义：嵌套与第一行的嵌套文件夹有关。

### 最终提取

在做题过程中，我们可以得到一个观察：本题中一些小题的答案是相同的，但是它们分别在不同领域中有不同的含义，而小题本身则与这个含义的所在领域相关。也有一些小题的答案不与别的小题相同，但是它们也是多义词，小题本身与词汇的另一个含义相关。

将十六道小题全部做出之后，将提取出的字母组合，可以得到：SIX ELEVEN FIFTEEN的里程碑。

我们回过头看第六题，第十一题和第十五题。可以发现，它们的答案均为FIELD。

我们需要得到的最终答案为(5 2 5)。

结合本题文件夹的嵌套特性，六、十一、十五分别是FIELD这个单词所在的嵌套深度。所以本题最终答案即为：DEPTH OF FIELD。

值得注意的是，在本题中，FIELD分别取了数学领域（域）、物理领域（场）、体育领域（田）的含义。而本题最终答案中的FIELD则是另一个含义：摄影领域（景）。

{% endblock %}


{% block author-notes-md %}

大厚题。

Lithium老师帮忙做了所有日谜的美工，相声请了华盖老师来录制，定格动画Yui老师协助了拍摄。

一道对着答案出题的题目（什么）。这个答案里field存在很严重的多义，一开始考虑要不要做一个纯数学物理领域的题。后来思考到depth也有双关，就参考pnku2的ppt谜，出了一个文件谜。
我们fduph也有自己的风暴.jpg

关于一些小题的灵感。小球碰撞题的灵感来自于23年参观东京台场的科学未来馆的时候，看到了一个满地机器人自动机的一个区域，就想到能不能出一个观看自动机推测运行规律的题。

<img src="/static/puzzle_resources/s-r3q6-17.webp">

几何画板题也是早就想出。但是确实这个题复杂一点的话门槛就会很高。

## funfact：

<img src="/static/puzzle_resources/s-r3q6-18.webp" style="height: 40vh;">

{% endblock %}